/* reset */
*{margin:0;padding:0;}
a{text-decoration: none;color:inherit;}
ul,ol{list-style: none;}
h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}
em,i,address{font-style: normal;}
strong,b{font-weight: 400;}


/* common */
html{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
}

/* **************다른창으로이동하는 이미지넣기********* */
.blankStyle:after{
    content:"";
    width: 12px;
    height: 12px;
    display:inline-block;
    margin-left:4px;
    background: url(../img/icn_header_new_win.svg) no-repeat 50% 50%;
}
/* after 태그는 태생이 inline 태그이기 때문에 가로세로 지정해도 적용이 안됨.->display:inline-block으로 변경해주기 */


