@media (max-width:768px){
    /* layout */
.contents_wrap{}
.pc{display: none;}

/* 반응형에서는 px 단위의 너비를 예민하게봐야한다. */
header.mo{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height:54px;
    z-index: 1000;
}
.innerHeader{
    width: 90%;
    /* 컨텐츠 폭 / 전체폭 *100=>(300/340 *100) */
    margin:0 auto;
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;

}
.btnMoMenu{
    /* vw (화면너비에대한비율. 100vw =(상대단위)전체너비.) */
    width: 6.4vw;
    /* %는 안됨(%는 부모에 대한 너비의 비율로 바뀜.;innerHeader를 기준으로 바뀜. ) 그래서 '화면너비'에 대한 vw 를 적용해야함   */
    /* 버튼메뉴 너비 :퍼센트로 했을때=> 22px (22/300*100=7.26%) 기준영역을 기준으로 나눠야함.
                     :vw로 했을때=>22px (22/340*100=6.4vw) */

    /* vw 는 결과적으로 픽셀로 계산됨. rem으로 사용해도됨 */
    height: 6.4vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}
.btnMoMenu>span{
    width: 100%;
    height: 2px;
    background: #fff;
    display: block;
    margin: 3px 0;
}

.btnMenulang{
    width: 6.4vw;
    height: 6.4vw;
}
.btnMenulang>img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.moLogo{
    width: 31.47vw;
    max-width: 230px;
}

.moLogo>a>img{
    width: 100%;
}
/* moblie menu */
.moMenu{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1100;
    pointer-events: none;
}
.blackcover{
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.5s ease 0s;
    pointer-events: none;
}
.moMenu.show .blackcover{
    opacity: 0.8;
    pointer-events: auto;
}
.moGnb{
    background: #fff;
    position: absolute;
    left: 0;
    top: 0;
    width: 75%;
    height: 100%;
    max-width: 310px;
    min-width: 290px;
    /* overflow: auto; */
    transform: translateX(-100%);
    transition: all 0.5s ease 0s;
}
.moMenu.show .moGnb{
    transform: translateX(0%);
}
.logoMo{
    width: 31.47vw;
    max-width: 230px;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 42px;
}
.logoMo img{
    width: 100%;
}

.moblieMenuiList ul{
    /* display:none; */
    border:1px solid green;
    margin-top: 14px;
    padding-left: 10px;

}
.moblieMenuiList ul>li{
    color: #9a9a9a;
    font-weight: 400;
    border:1px solid red;
    margin-bottom: 6px;
}
.moblieMenuiList>li>a{
    border-bottom:1px solid #ccc;
    display: block;
    padding:12px;
}
.moblieMenuiList ul>li:last-of-type{
    margin-bottom: 0;
}
.moblieMenuiList{
    border:1px solid red;
    width: 90%;
    margin: 0 auto;
    height: calc(100% - 130px);
    overflow: auto;
}

.moblieMenuiList>li{
    /* padding:12px; */
    font-size: 1.12rem;
    font-weight: bold;
    position: relative;
}
.moblieMenuiList>li::after{
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    border:1px solid black;
    right: 10px;
    top: 12px;
    border-right: 0;
    border-top: 0;
    transform: rotate(-45deg);
}


/* main */
main{
    /* border:solid blue; */
    position:relative ;}

.videoBanner{
    height:64vh;
    /* border: 10px solid aqua; */
    /* overflow: hidden; */
    position: relative;
}
    
.videoBanner:after{
    content: "";
    position: absolute;
    left: 0;top: 0;
    width: 100%;
    height: 100%;
    background:rgba(0, 0, 0, 0.201);
    /* opacity: 0.2; */
}

.videoBanner video{
    width: 100%;
    height: 100%;
    object-fit: cover;
 }
.videoBanner>.flotingTxt{
    /* border:1px solid red; */
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50% ,-50%);
    z-index: 10;
    text-align: center;
    width: 74vw;
}

.flotingTxt>h2{
    margin-bottom: 50px;
    width: 100%;
}

.flotingTxt>h2 img{
    width: 100%;
}
   
/* transform:translateX를 이용하여 중간배치 */
.flotingTxt>a{
    /* border:1px solid lime; */
    padding:3vw 13vw;
    background:rgba(255,255, 255, 0.391);
    display: inline-block;
    font-size:1.2rem ;
    border-radius: 4px;

}
/* a태그를 div태그나, article 태그로 감싼 뒤, div나 article 태그에 text-align:center; 명령을 주는 것입니다. 이렇게 하면 간단하게 a태그를 원하는 대로 정렬 할 수 있습니다. */
  

/* news */
.news{
    width:90%;
    margin:0 auto;
    margin-top:60px;
    margin-bottom:100px;
}
.news>h3{
    font-size:18px;
    font-weight: bold;
    margin-bottom:26px;
}
.news ul{
    display:flex;
}

 .news ul>li:first-of-type{
    padding-left:0;
}
.news ul>li:last-of-type{
    padding-right:0;
    border-right:none;
} 
.news ul>li h4{
    font-size:15px;
    font-weight: bold;
    margin-bottom:16px;
}

.news .swiper-pagination{
    position: relative;
    margin-top: 50px;
}

.date{
    font-size:10px;
    color:#9a9a9a;
    margin-bottom:28px;
}

/* culture */
.culture{
    width:100%;
    margin-bottom:160px;
}
.culture>ul>li{
    position:relative;
    overflow: hidden;
    height: 220px;
    margin-bottom: 1px;
    /* width:20%; */
}
.culture>ul>li>a{
    display: block;
    height:100%;
}
.culture>ul>li>a>img{
    width:100%;
    height:100%;
    object-fit: cover;
}

.floatingBox{
    position:absolute;
    left:50%;top:50%;
    transform:translateX(-50%)translateY(-50%);
    text-align: center;
    color:#fff;
}
.floatingBox>h4{
    font-size: 22px;
    font-weight: bold;
    margin-bottom:18px;
}

.floatingBox>p{
    padding-top:30px;
    position:relative;
}
.floatingBox>p:after{
    content:"";
    position:absolute;
    left:50%;
    transform:translateX(-50%);
    top:0;
    width:30px;
    height:1px;
    background:#fff;
}
.notice{
    border:1px solid red;
    width:90%;
    margin:0 auto;
}
.notice_station>ul{
    display:flex;
    justify-content: space-between;
}
.notice_station li figure{
    height:250px;
}
.notice_station li figure img{
    width:100%;
    height:100%;
    object-fit: cover;
}

.notice_station li p{
    font-size:12px;
    margin:20px 0;
}
.notice_station li h4{
    font-size:15px;
    font-weight: bold;
}
.notice .swiper-pagination{
    position: relative;
    margin-top: 50px;
}


span.swiper-pagination-bullet-active {
    background: black;
}

/* footer */
footer{margin-top:100px;}
.footMenu1{
    border-top:1px solid #ebebeb;
    padding-top:30px;
}
.footMenu1>ul{
    width:90%;
    margin:0 auto;
}
.footMenu1>ul>li{
    overflow: hidden;
    height: 50px;
}
.footMenu1>ul>li>a{
    font-weight:bold;
    font-size:1.12rem;
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
}
/* 부모가 flex 가 지정되어있기 때문에 박스상태로 만들 수 있음. */
.footMenu1>ul>li>a::after{
    content: "";
    width: 24px;
    height: 24px;
    background: url(../img/icn_cm_plus.svg) no-repeat 50% 50%;
    background-size: contain;
    transition: all 0.5s ease 0s;
}
.footMenu1>ul>li.on>a::after{
    transform: rotate(40deg);
}
.footMenu1>ul>li>ul{
    color:#9a9a9a;
    font-size: 1rem;
}
.footMenu1>ul>li>ul>li{
    height: 35px;
    display: flex;
    align-items: center;
}
.footMenu2{
    border-bottom:1px solid #ebebeb;
}
.footMenu2>ul{
    width:90%;
    margin:0 auto;
    /* display: flex; */
}
.footMenu2>ul>li{
    font-weight:bold;
    font-size:1.12rem;
    height: 50px;
    display: flex;
    align-items: center;
}
.footMenu2>ul>li.blue{
    color:#3774DA;
}
.coInfo{
    width:100%;
    margin:0 auto;
    display:flex;
    justify-content: space-between;
    padding:26px 0;
    flex-direction: column-reverse;
}

.footLogo{
    /* display:flex; */
    /* align-items: center; */
    text-align: center;
    padding: 10px 0;
}
.copy{
    color:#9a9a9a;
}
.snsMenu{
    border-top:1px solid #ebebeb;
    border-bottom:1px solid #ebebeb;
    padding: 10px 0;
}
.snsMenu>ul{
    display:flex;
    justify-content: center;
}
.snsMenu>ul>li{
    border:1px solid red;
    width: 38px;
    margin: 0 5px;
}
.snsMenu>ul>li img{
    width:100%;
}
.footLogo img{
    width:120px;
}

}
/* 컨텐츠 폭 / 전체폭 *100 */