*{margin:0;padding:0;}
ul,ol{list-style: none;}
a{text-decoration: none; color: inherit;}
h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: normal;}

/* common */
html{
    font-size: 14px;
}

.container{
    width: 1040px;
    margin:0 auto;
}

/* layout */
.container>h2{
    border:1px solid red;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;  
}

.movieChart{
    border:1px solid blue;
    display: flex;
    justify-content: space-between;
}
.movieChart>li{
    border:1px solid blue;
    width: calc(20% - 30px);
    margin-right: 30px;
    flex-shrink: 0;
}
.movieChart>li>figure>img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.movieChart>li>figure{
    border:1px solid;
    width:100% ;
    height:230px;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
   
}
.movieChart>li>figure::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(3deg, black, transparent);
}
.movieChart>li:hover figure::after {
    display: none;
}
.movieChart>li>figure>span{
    position:absolute;
    left: 0;bottom: -12px;
    color: #fff;
    font-size: 3.5rem;
    font-style: italic;
    font-weight: bold;
    z-index: 10;
}

.movieChart>li:hover figure>span {
    display: none;
}

.hiddenMenu{
    position: absolute;
    left: 0;top:0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.movieChart>li:hover .hiddenMenu{
    display: flex;
}  
.hiddenMenu>li{
    width: 65%;
    text-align: center;
    padding:8px 0;
    margin:5px 0;
    border-radius: 4px;
}
.hiddenMenu>li:nth-of-type(1){
    background: #fff;
    color: #222;
}
.hiddenMenu>li:nth-of-type(2){
    background: rgb(242, 47, 145);
    color: #fff;
}
.movieChart>li>h3{
    border:1px solid red;
    margin: 10px 0;
    font-size: 1.2rem;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}