*{margin:0;padding:0;}
/* html{cursor: none;} */
.cursor{
    width: 30px;
    height: 30px;
    position: fixed;
    left: 0%;
    top: 0%;
    opacity: 0;
    /* transform: scale(0.1); */
    transition: 
    opacity 1s ease 0s,
    width 0.6s ease 0s,
    height 0.6s ease 0s;
    /* transition: opacity 1s ease 0s,transform 0.5s ease 0s; */
    border-radius: 50%;
    background: blueviolet;
    pointer-events: none;
} 
.cursor.on{
    opacity: 1;
    /* transform: scale(1); */
}
.cursor.on.big{
    width: 120px;
    height: 120px;
    background:transparent ;
    border:1px solid lime;
}
.wheelAni{
    display: none;
    border:1px solid lime;
    width: 20px;
    height: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -10px;
    margin-top: -40px;
    font-size: 0;
    border-radius: 10px;
}
.wh{
    width: 10px;
    height: 10px;
    background: lime;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    margin-left: -5px;
    top: 10px;
    animation: wheelAni 1s ease 0s infinite alternate;
}
@keyframes wheelAni{
    0%{top: 10px}
    100%{top: 60px}
}
.cursor.on.big .wheelAni{display: block;}
.cursor.on.big+.cursorGuideBox{display: block;}
/* 마우스커서를 따라다니는 설명텍스트 영역 */
.cursorGuideBox{
    display: none;
    pointer-events: none;
    position: fixed;
    left: 0;
    top: 0;
    border:1px solid aqua;
    width: 150px;
    background: rgba(245, 245, 220, 0.54);
    font-size: 14px;
    padding:14px;
    border-radius: 10px;
}
.wrap{}
.wrap>section{
    height: 80vh;
}
.wrap>section:nth-of-type(1){background: red;}
.wrap>section:nth-of-type(2){background: green;}
.wrap>section:nth-of-type(3){background: orange;}
.wrap>section:nth-of-type(4){background: yellow;}