*{margin:0;padding:0;}
ul,li{list-style: none;}

.textwrap{
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 80px;
    overflow: hidden;
}
.textwrap>ul{
    display: flex;
    width: 200%;
    border: 1px solid black;
    border-left:none;
    border-right:none;
    overflow: hidden;
}
.textwrap>ul>li{
    /* border: 1px solid blue; */
    width: 50%;
    white-space: nowrap;
    overflow: hidden;
}
@keyframes move1 {
    0%{transform: translateX(100%);}
    100%{transform: translateX(-100%);}
}
@keyframes move2 {
    0%{transform: translateX(0%);}
    100%{transform: translateX(-200%);}
}
.a{
    animation:move1 20s linear -10s infinite;
}
.b{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #000;
    animation:move2 20s linear 0s infinite;
}