@keyframes introAni {
    0%{
        opacity: 0;
        transform:translateX(-10px)translateY(-10px)rotateY(45deg);
    }
    100%{
        opacity: 1;
        transform:translateX(0px)translateY(0)rotateY(0deg);
    }
}
@keyframes moveLeftToRight {
    0%{
        opacity: 0;
        transform:translateX(-10px);
    }
    100%{
        opacity: 1;
        transform:translateX(0px)
    }
}
@keyframes moveRightToLeft {
    0%{
        opacity: 0;
        transform:translateX(10px);
    }
    100%{
        opacity: 1;
        transform:translateX(0px)
    }
}
@keyframes moveTopToBottom {
    0%{
        opacity: 0;
        transform:translateY(-10px);
    }
    100%{
        opacity: 1;
        transform:translateY(0px);
    }
}
@keyframes moveBottomToTop {
    0%{
        opacity: 0;
        transform:translateY(10px);
    }
    100%{
        opacity: 1;
        transform:translateY(0px);
    }
}
@keyframes fadeInOut {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes bounce {
    0%{
        opacity: 0;
        transform:scale(10)
    }
    100%{
        opacity: 1;
        transform:scale(1)
    }
}