/* reset */
*{margin:0;padding:0;}
a{text-decoration: none;color:inherit}
h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: normal;}
b,strong{font-weight: normal;}
i,em,address{font-style: normal;}
ul,ol {list-style: none;}

/* common */
html{
    font-size:14px ;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif'; 
}

/* header */

header{
    /* border: 1px solid red; */
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-bottom:10px ;
}
header::before{content: "";}
.mainLogo{
    font-size: 2.5rem;
    text-transform: uppercase;
    color: #133647;
}

header>nav{
    /* border:1px solid red; */
    color: #133647;
    font-size: 1.5rem;
    margin-right: 20px;
}
nav>i{
   padding-right:20px;
}

/* main */
/* main{border:1px solid blue;} */

.videoBanner video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding-bottom: 200px;

 }
 /* ***********about*********** */
.about{
    /* border:1px solid blue; */
    position: relative;
    width: 100%;
    height: 970px;
    margin-bottom:250px ;
}
.about::after{
   content: "";
    background: #133647;
    width: 1500px;
    height: 510px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    
}

.about>.boy{
    /* border:1px solid blue;   */
    width: 520px;
    height: 748px;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 6%;
    transform: translateY(-50%);
    z-index: 1;

}
.about>.blueLotion{
    /* border:1px solid blue; */
    width: 380px;
    height: 570px;
    object-fit: cover;
    position: absolute;
    top:50%;
    left: 29%;
    z-index: 2;
}
.about>.cream{
    width: 370px;               
    height: 370px;
    object-fit: cover;
    position: absolute;
    bottom: -3px;
    left: 35%;
    z-index: 1;
}
.about>h2{
    text-transform: uppercase;
    font-size: 5.5rem;
    color: #133647;
    position: absolute;
    top: 6%;
    left:6%;
    z-index: 1;
}
.about>.men{
    /* border:1px solid blue; */
    position: absolute;
    left: 46%;
    top:50%;
    transform: translateY(-50%);
    z-index: 1;
    color:aliceblue
}
.about h5{  
    font-size: 3rem;
    font-weight: bold;
    margin-bottom:25px ;
}
.about p{
     font-size: 1.7rem;
     font-weight: lighter;
     padding:10px 0;
}
/* ***********best*********** */
.best{
    border:1px solid red;
    width: 1440px;
    height: 970px;
    margin: 0 auto;
    color: #133647;
    position: relative;
}
.best>h2{
    border:1px solid red;
    text-transform: uppercase;
    text-align: center;
    font-size: 3.5rem;
   padding:10px 0;
}
.best>h2::after{
    content: "";
    background: #133647;
    width: 40px;
    height: 3px;
    position: absolute;
    top: 0px;
    left: 0px;
}
.best>ul{
    border:1px solid blue;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;  
}
.best>ul>li{
    border:3px solid aqua;
}

.best>ul>li img {
    width: 350px;
    height: 560px;
    object-fit: cover;
}
.best>ul>li .productName{
    bordeR:1px solid red;
    text-align: center;
    font-size: 1.5rem;
  
}






footer{border:1px solid green;}
