/* reset */
*{margin:0;padding:0;}
a{text-decoration: none;color:inherit}
h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: normal;}
b,strong{font-weight: normal;}
i,em,address{font-style: normal;}
ul,ol {list-style: none;}

/* common */
html{
    font-size:14px ;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif'; 
}

/* header */

header{
    border: 1px solid red;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
header::before{content: "";}
.mainLogo{
    font-size: 2.5rem;
    text-transform: uppercase;
    color: #133647;
}

header>nav{
    border:1px solid red;
    color: #133647;
    font-size: 1.5rem;
    margin-right: 20px;
}
nav>i{
   padding-right:20px;
}

/* main */

/* main{border:1px solid blue;} */

.videoBanner video{
    border:1px solid aqua;
    width: 100%;
    height: 100%;
    object-fit: cover;
   margin-bottom: 200px;

 }
 /* ***********about*********** */

 .about{
    border:1px solid blue;
    margin-bottom: 200px;  
    position: relative;
    top: 50%;
 }
.about>img{
    /* border:1px solid blue; */
    padding-top:120px;
}
 .about>.men{
    border:1px solid blue;
    position: absolute;
    left: 47%;
    top:46%;
    transform: translateY(-50%);
    z-index: 1;
    color:#fff;
}

.about>h2{
    border:1px solid aqua;
    text-transform: uppercase;
    font-size: 5.5rem;
    color: #133647;
    position: absolute;
    top: 70px;
    left:134px;
    z-index: 1;
}
.about h5{  
    font-size: 3rem;
    font-weight: bold;
    margin-bottom:25px ;
}
.about p{
     font-size: 1.7rem;
     font-weight: lighter;
     padding:10px 0;
}
/* ***********best*********** */
.best{
    border:1px solid blue;
    width: 1440px;
    height: 900px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 200px;
}
.best>h2{
    border:1px solid  blue;
    font-size: 3.8rem;
    text-transform: uppercase;
    color: #133647;
    text-align: center;
    height: 70px;
}
.best>h2::after{
    content: "";
    width: 30px;
    height: 3px;
    background: #133647;
    position: absolute;
    top: 90px;
    left: 50%;
    transform: translateX(-50%);

}
.best>ul{
    border:1px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:60px 60px 0 60px;
}
.best>ul::after{
    content: "";
    width: calc(100% - 120px);
    height: 1px;
    background: #234249;
    position: absolute;
    bottom:60px ;
    left: 60px;
}
.best>ul>li{
    border:1px solid aqua;

}
.best>ul>li img{
    border:1px solid orange;
    width: 390px;
    height: 600px;
    object-fit: contain; 
}
.best>ul>li .productName{
    border: 1px solid red;
    text-align: center;
    padding: 10px 0;
    color: #133647;
    font-size: 2rem;
}
.best>.point{
    border:1px solid orange;
    display: flex;
    justify-content:space-between ;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}
.best>.point>img{
    border:1px solid green;
    width: 60px;
    height: 60px;
    object-fit: contain;
   
}
/* skinSolution */

.skinSolution{
    border:1px solid aqua;
    background: url(../);
}
.skinSolution>h2{
    border:1px solid  blue;
    font-size: 3.8rem;
    text-transform: uppercase;
    color: #133647;
    text-align: center;
    height: 70px;
}

footer{border:1px solid green;}
