/* reset */
*{margin:0;padding:0;}
a{text-decoration: none;color:inherit}
h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: normal;}
b,strong{font-weight: normal;}
i,em,address{font-style: normal;}
ul,ol {list-style: none;}

/* common */
html{
    font-size:14px ;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

@font-face {
    font-family: "stencil";
    src: url("../font/stencilla.ttf");
}
@font-face {
    font-family: "Cafe2";
    src: url(../font/Cafe24Shiningstar.ttf)
}

/* header */


header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    font-family: "stencil";
    width: 100%;
    height: 30px;
     padding: 10px 0px;
    position: fixed;
    background: #fff;
    z-index: 1000;
    border-bottom: 1px solid #9fadb8;  
}

header::before{
    content: "";
}

.mainLogo{
    font-size: 2rem;
    text-transform: uppercase;
    color: #133647;
   
}

header>nav{
    /* border:1px solid red; */
    color: #133647;
    font-size: 1.5rem;
    margin-right: 20px;
}
nav>i{
   padding-right:20px;
}

/* main */

.videoBanner video{
    /* border:1px solid aqua; */
    width: 100%;
    object-fit: cover;
    margin-bottom: 200px;

 }
 /* ***********about*********** */

 .about{
    /* border:1px solid red; */
    width: 100%;  
    position: relative;
    margin-bottom: 280px;
 }
.about>img{
    padding-top:120px;
}
 .about>.men{
    /* border:1px solid blue; */
    position: absolute;
    left: 48%;
    top:46%;
    transform: translateY(-50%);
    z-index: 1;
    color:#fff;
   
}

.about h5{  
    font-size: 3rem;
    font-weight:400;
    margin-bottom:25px ;
}
.about p{
     font-size: 1.7rem;
     font-weight: 300;
     padding:10px 0;
}
/* ***********best*********** */
.best{
    /* border:3px solid blue; */
    width: 1440px;
    height: 970px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 200px;
    overflow: hidden;
}
.best>h2{
    font-size: 3.8rem;
    text-transform: uppercase;
    color: #133647;
    text-align: center;
    margin-bottom :120px;
}

.best>h2::after{
    content: "";
    width: 30px;
    height: 4px;
    background: #133647;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}

.bestTrain>ul{
    /* border:3px solid red; */
    width:calc(600%/3); 
    display: flex;
}
.bestTrain>ul>li{
    /* border:1px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;

}
.bestTrain>ul>li>a>img{
    /* border:1px solid lime; */
    width: 360px;
    height: 450px;
    object-fit: cover;
    margin-bottom: 50px;
    
}
.slideLine{
    background: #52838e;
    width: 1320px;
    height: 1px;
    position: relative;
    bottom:340px;
    left: 50%;
    transform: translateX(-50%);
}
.slideLine>div{
    background: #52838e;
    width: 360px;
    height: 3px;
    position: absolute;
    left: 0%;
   
}

.bestTrain>ul>li .productName{
    /* border: 1px solid red; */
    text-align: center;
    padding: 10px 0;
    color: #133647;
    font-size: 2rem;
}
.point{
    /* border:1px solid orange; */
    display: flex;
    justify-content:space-between ;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}
.point>img{
    /* border:1px solid green; */
    width: 60px;
    height: 60px;
    object-fit: contain;
   
}
/* skinSolution */

.skinSolution{
    /* border:1px solid aqua; */
    color: #133647;
    background: url(../img/skin.png) no-repeat
    center center;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 970px;
    margin-bottom: 350px;
}

.skinSolution>h2{
    /* border:1px solid red; */
    font-size: 3.8rem;
    text-transform: uppercase;
    text-align: center;
    height: 70px;
    position: absolute;
    top: 13%;
    left: 50%;
    transform: translateX(-50%);
}
.skinSolution>h2::after{
    content: "";
    width: 30px;
    height: 3px;
    background: #133647;
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translateX(-50%);
}
.skinSolution>p{
    /* border:1px solid orange; */
    font-size: 2rem;
    text-align: center;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 200;
}
.skinSolution>a{
    background: #133647;
    color: #fff;
    width: 260px;
    height: 80px;
    border-radius: 80px;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 200;
    font-size: 2rem;
}
.skinSolution>h3{
    /* border:1px solid orange; */
    padding-top:60px;
    padding-bottom: 20px;
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
    letter-spacing:10px;
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%); 
}
.skinSolution>h3::before{
    content: "";
    background: #52838e;
    height:270px ;
    width: 1px;
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%); 
}


/* skinMenu */
.skinMenu{
    /* border:1px solid red; */
    width: 1440px;
    margin: 0 auto;
    margin-bottom: 280px;
}
.skinMenu>.skinList{
     list-style-type: decimal;
    
}
.skinMenu>ol>li{
    /* border:1px solid green; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 800px;
}
.skinMenu>ol>li:last-of-type{
    margin-bottom: 0;
}
.skinProduct{
    position:relative;
}
.skinProduct:after{
    content:"";
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    width:380px;
    height:380px;
    background:#2c4b5d;
    border-radius: 50%;
    z-index: -1;
}
.skinProduct.Two:after{background:#6a8492;}
.skinProduct.Three:after{background:#9fadb8;}

.skinProduct::before{
    content:"";
    position:absolute;
    left:180%;
    top:50%;
    transform:translate(-50%,-50%);
    width:840px;
    height:1px;
    background:#2c4b5d;
}
.skinProduct.Two::before{
    background:#6a8492;
    left:-90%;
}
.skinProduct.Three::before{background:#9fadb8;}

.skinProduct>.deco::after{
    content:"";
    position:absolute;
    left:282%;
    top:50%;
    transform:translate(-50%,-50%);
    width: 12px;
    height:12px;
    border-radius: 50%;
    background:#2c4b5d;
}
.skinProduct>.Second::after{
    background:#6a8492;
    left: -194%;
}
.skinProduct>.Third::after{ background:#9fadb8;}


/* skinCotnets */
.skinContents{
    /* border: 1px solid lime; */
    margin-right:84px;
    margin-top: 152px;
    position:relative;
}
.skinContents:before {
    position: absolute;
    left: -120px;
    top: -180px;
    content: "01";
    font-size: 7rem;
    color: #133647;
    font-family: "stencil";
}
.skinContents.sc2::before{
    color: #6a8492;
    content: "02";
    left: 90%;
}
.skinContents.sc3::before{
    color: #9fadb8;
    content: "03";
}
.skinContents>h3{ 
    /* border:1px solid blue; */
    font-size: 2.5rem;
    font-weight:400;
    padding: 10px 0;
}
.skinContents.Left{
    margin-left:120px;
} 
.skinContents>p{
    /* border:3px solid red; */
    font-size: 1.8rem;
    margin-top:10px;
    font-weight:300;
}
.skinContents>p.price{
    /* border:1px solid lime; */
    margin-top:30px;
    
}
.skinContents>a{
    background: #133647;
    color: #fff;
    width: 220px;
    height: 60px;
    border-radius: 80px;
    font-size: 1.6rem;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
}
.skinContents>a.colorTWO{
    background:#6a8492;
}
.skinContents>a.colorThree{
    background:#9fadb8;
}


/* 랩시리즈 공식몰 event */
.event{
    width: 100%;
    height:970px;
    margin: 0 auto;
    margin-bottom: 200px;
    position: relative;
   
}
.eventTrain{
    /* border:3px solid lime; */
    position: relative;
    width:calc(300%/3);
    height: 460px;
    display: flex;
    overflow: hidden;
}
.eventTrain li{
    /* border:5px solid blue; */
    width: 100%;
    height:100%;
}

.event>h2{
    /* border:1px solid red; */
    font-size: 3.6rem;
    color: #133647;
    text-align: center;
    font-weight: 400;
    margin-bottom: 140px;
}
.event>h2::after{
    content: "";
    width: 30px;
    height: 4px;
    background: #133647;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
}
.event>h2>span{
    font-family: "Cafe2";
    font-size: 5rem;
    margin-left: 20px;
}

/* **********train1 ************/
.eventTrain li>img.review{
    position: relative;
    width: 100%;
    height:100%;
}

.eventTrain li>.train1{
    position: absolute;
    left: 18%;
    top: 15%;
}
.eventTrain li>.bannerImg>img{
    height: 500px;
    width: 250px;
    object-fit: cover;
    position: absolute;
    left: 50%;
    top:-5%;
}
.eventTrain li>.bannerImg>img.bannerOne{
    height: 500px;
    width: 320px;
    object-fit: cover;
    transform:rotate(-30deg); 
}
.eventTrain li>.bannerImg>img.bannerTwo{
    left: 63%;
    transform:rotate(15deg);
}
.eventTrain li>.train1{
    color: #fff;

}
.eventTrain li>.train1>h3{
    font-size: 3.5rem;
}
.eventTrain li>.train1>h3::after{
    content: "";
    width: 550px;
    height: 1px;
    background: #fff;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
}
.eventTrain li>.train1>p{
    /* border:1px solid green; */
    font-size: 2.2rem;
    font-weight: 200;
    margin-top: 40px;
    margin-bottom: 40px;
}

.eventTrain li>.train1>a{
    border:1px solid #fff;
    width: 260px;
    height: 70px;
    border-radius: 80px;
    font-size: 1.8rem;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
    margin-left:140px ;
}

/* ***************************** */


/* **********train2 ************/

.eventTrain li>.train2{
    color: #003a55;
    position: relative;
    left: 18%;
    width: 100%;
    height:100%;
    background-color: #fff;
}
.eventTrain li>.train2>h3{
    font-size: 4.5rem;
    font-weight: 500;
}
.eventTrain li>.train2>h3>span{
    font-size: 2.3rem;
    font-weight: 400;
}
.eventTrain li>.train2>h3::after {
    content: "";
    width: 635px;
    height: 1px;
    background: #003a55;
    position: absolute;
    top: 34%;
    left: 17%;
    transform: translateX(-50%);
}
.eventTrain li>.train2>.blueLotion {
    height: 500px;
    width: 500px;
    object-fit: contain;
    margin-left: 200px;
    position: absolute;
    left: 24%;
    top: -17%;
}
.eventTrain li>.train2>p {
    font-size: 2.2rem;
    font-weight: 200;
    margin-top: 5px;
    margin-bottom: 20px;
}
.eventTrain li>.train2>.cafe{
    font-family: "Cafe2";
    font-size: 2.8rem;
    font-weight: 200;
    margin-top: 40px;
}

.eventTrain li>.train2>a{
    background:#133647;
    color: #fff;
    width: 174px;
    height: 45px;
    border-radius: 80px;
    font-size: 1.5rem;
    align-items: center;
    font-weight: 200;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* ***************************** */

/* **********train3 ************/

.eventTrain li>.train3 {
    color: #fff;
    position: relative;
    width: 100%;
    height:100%;
}
.eventTrain li>.train3>.Contents3{
     position:absolute;
     left: 50%;
     top: 18%;
}
.eventTrain li>.train3>.Contents3>h4{
    font-size:2.5rem;
    font-weight: 500;
    font-family: "Cafe2";
    color: #fff;
    margin-bottom: 10px;
}
.eventTrain li>.train3>.Contents3>h3{
    font-size: 3.5rem;
    font-weight: 500;
    margin-bottom:35px;
}
.eventTrain li>.train3>.Contents3>p{
    font-size: 2rem;
    font-weight: 200;
    margin-bottom: 10px; 
}

.eventTrain li>.train3>.Contents3>a{
    font-size: 1.5rem;
    font-weight: 200;
    width: 140px;
    height: 30px;
    display: inline-block;
    text-align: center;
}
.eventTrain li>.train3>.Contents3>.miniOne{
    border:1px solid #fff;
    background: black;
    color: #fff;
}
.eventTrain li>.train3>.Contents3>.miniTwo{
    border:1px solid black;
    background: #fff;
    color: black;
}
.eventTrain li>.train3>.blackLotion {
    position: absolute;
    top: 10%;
    left: 20%;
    width: 1000px;
    height: 380px;
    object-fit: cover;
}
/* 작대기 세개만들기 */
.bannerLine::after {
    content: "";
    position: absolute;
    width: 65px;
    height: 1px;
    background: #52838e;
    bottom: 24%;
    left: 50%;
}

/* ***************************** */
footer{
    width: 1440px;
    margin: 0 auto;
    font-size: 1.5rem;
    margin-bottom: 100px;
}
.footerTop{
    border-bottom:1px solid #999;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.footerTop ul{
    display: flex;
}
.footerTop ul>li{
    margin-right: 28px;
    margin-bottom: 20px;
    font-weight: 500;
}

.footerTop ul>li:last-of-type{
    margin-right:0;
}

.footerBottom{
    /* border:1px solid red; */
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.footerBottom .address{
    /* border:1px solid blue; */
    margin-bottom: 25px;
}

.footerBottom .copy{
    /* border:1px solid red; */
    margin-top: 25px;
    font-size: 1.1rem;
    color:#999;
}
.footLogo{
    font-size:1.8rem;
    font-family: "stencil";
    margin:50px 10px;
    position: relative;
    color: #2c4b5d;
}
.footLogo::after{
    content: "";
    background: black;
    position: absolute;
    left: 0;
    top: 90%;
    width: 120px;
    height: 1px;

}

/* ********************** sub1************************* */


.mainBanner{
    border:1px solid red;
    padding-top: 30px;
    width: 100%;
    height: 970px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.mainBanner>img{
    border:1px solid lime;
    display: inline-block;
    width: 900px;
    height: 800px;
    object-fit: contain;
    margin-left:-140px; 
   
}
.mainBanner>.subMain{
    border:1px solid lime;
    color:#133647
}
.subMain>h1{
    border:1px solid lime;
    font-size: 3.8rem;
    font-weight: 400;
    margin-bottom: 40px;
}
.subMain>p{
    border:1px solid lime;
    font-size: 1.8rem;
    font-weight: 300;
    margin-bottom: 40px;
}
/* main */
.subMain{
    border:1px solid red;
    width: 1440px;
    margin: 0 auto;
}
.subTitle{
    display: flex;
}
