*{
    margin:0;padding:0;
}
.box{
    margin:0 auto;
    width:800px;
    height:600px;
    padding:40px;
    border:1px solid red;
    /* background-color:pink;
    background-image:url("../img/otter-gb5e41dcb1_640.jpg");
    background-repeat:no-repeat;
    세로축으로 반복 repeat-y 가로축반복 repeat-x
    background-position:100px 100px; */
    /* 띄어쓰기로 x,y 좌표를 입력 */
    /* 축약형표현 */
    background:pink url("../img/otter-gb5e41dcb1_640.jpg") no-repeat 100px 100px;
}
.box2{
    width:1000px;
    height:800px;
    border:1px solid blue;
    margin:0 auto;
    /* background:url("../img/otter-gb5e41dcb1_640.jpg") no-repeat right bottom; */
    background:url("../img/otter-gb5e41dcb1_640.jpg") no-repeat calc(100% - 100px) calc(100% - 50px);
}
.box2>h2{
    border:1px solid orange;
    width:calc(50% + 50px);
   
}
.box3{
    width:800px;
    height:800px;
    border:1px solid purple;
    margin:0 auto;
    background:url("../img/otter-gb5e41dcb1_640.jpg") no-repeat 0 0;
    background-size:100% auto;
    /* background-size:contain / cover */

}
.box4{
    border:10px solid red;
    height:100vh;
    /* background:url(../img/otter-gb5e41dcb1_640.jpg),url(../img/otter-gb5e41dcb1_640.jpg);
    background-repeat:no-repeat,no-repeat;
    background-position:0 0,100% 100%; */
    background:url(../img/otter-gb5e41dcb1_640.jpg) no-repeat 0 0, url(../img/otter-gb5e41dcb1_640.jpg) no-repeat 100% 100%;
    /* 배경은 ,(콤마)를 통해서 2개 이상 넣어줄 수 있다. */
}
.box5{
    border:10px solid blue;
    width:50vw;
    height:50vw;
    margin:0 auto;
    background-image:linear-gradient(45deg,magenta,yellow);
    /* radial-gradiant*/
    /* background-repeat과 position, size는 정상적으로 적용되지않음. */
}
.box6{
    width:100%;
    height:500px;
    border: 10px solid green;
    margin:0 auto;
    /* background-color:orange; */
    background-image:linear-gradient(45deg,red,blue),url(../img/otter-gb5e41dcb1_640.jpg);
    background-blend-mode:exclusion;
    background-attachment:fixed;
}
    