*{margin: 0;padding: 0;}
ul{list-style: none;}

header{
    border:1px solid black;
    position: fixed;
    left: 0; top:0;
    width:100%;
    background: palevioletred;
}

.containerWrap{
    border:1px solid red;
    width: 900px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    height:100px;
    

}

.gnb{
    border: 1px solid red;
    display: flex;
    width: 50%;
   
}

.gnb>li{
    border:1px solid red;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
}

.gnb>li>ul{
    border:1px solid green;
    position:absolute;
    left: 0; top:100px;
    width: 100%;
    display: none;
}

.gnb>li:hover>ul{
    display:block;
}
.gnb>li>ul>li{
    border: 1px solid black;
    padding:3px 2px;

}

.containerWrap>h1{
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

main{
    /* height: 500vh; */
    width:900px;
    margin:0 auto;
    background: gold;
    margin-top: 100px;
    
}

main>section{
    height:100vh;
}

main>section:nth-of-type(2n){background: #555;}

.btn_top{
    width: 50px;
    height: 50px;
    background: red;
    color: #fff ;
    position: fixed;
    right: 50px;
    bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}