*{margin: 0;padding: 0;}

.mainbanner{
    height: 780px;
    /* border: 10px solid red; */
    position: relative;   
}

.mainbanner video{
    width: 100%;
    height: 100%;
    object-fit: cover;    
}

.mainbanner>h2{
    border: 1px solid blue;
    position: absolute;
    /* left: calc((100% - 240px)/2); top: 330px;*/
    /* left: calc(50% - 120px);
    top: calc(50% - 60px); */
    left:50%;
    top:50%;
    margin-left:-120px;
    margin-top:-60px;
    /* text-align: center;
    line-height: 120px; */

    display: flex;
    justify-content: center;
    align-items: center;


    font-size: 5rem;
    color: aliceblue;
    width: 240px;
    height: 120px; 
    z-index:10;   
}

.mainbanner:after{
    content: "";
    position: absolute;
    left:0; top: 0;
    width:100%; height: 100%;
    background:black;
    opacity: 50%;
}