*{margin:0; padding:0;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:normal;}
address,em,i{font-style:normal;}
strong,b{font-style:normal;}
a{text-decoration:none;color:inherit;}

/* common-style (상속스타일) */
html{
    font-size: 20px;
    font-family: 'Noto Sans KR', sans-serif;
}

/* layout 크기,배치 */
.container{
    border:1px solid red;
    width:980px;
    margin:0 auto;

}

/* detail */
.container>h2{
    font-weight:600;
    margin-bottom:35px;
    margin-top:40px;
    font-size:22px;
}
.container p{
    margin-bottom:35px;
}
.container .mb100{
    margin-bottom: 100px;
}
.container.sign{
    margin:70px 0 35px;
    font-family:pulmuone;
    font-size: 30px;
}

@font-face {
    font-family:'pulmuone';
    src: url(../ex2/PulmuoneLOHASBold.woff);
}