@font-face {
    font-family:myfont ;
    src: url(../font/koryung.ttf)
}
@font-face {
    font-family:myfont2 ;
    src: url(../font/yangj.ttf)
}
@font-face {
    font-family:"교보";
    src: url(../font/Kyobo.ttf)
}
@font-face {
    font-family: 'KyoboHandwriting2021sjy';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/KyoboHandwriting2021sjy.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}