*{margin:0;padding:0;}
.box{
    border:1px solid red;
    width: 300px;
    height: 300px;
    /* transition-property: width;
    transition-duration(얼마동안 그리겠다): 2s;
    transition-timing-function: linear;
    transition-delay(얼마 뒤에 그리겠다): 0s; */
    transition:
     width 1s cubic-bezier(0.92, 0.13, 0, 0.98) 0s,
     height 1s linear 1s,
     background 1s cubic-bezier(0.92, 0.13, 0, 0.98) 2s,
     border-radius 0.5s ease 3s;
     
    }

    /* height 도 마찬가지 */
    /* all은 너비 , 높이 둘다선택 */
    /* 1초 = 1000ms */
    /* cubic-bezier(0.92, 0.13, 0, 0.98) =>개발자 창에 들어가서 원하는 속도를 조절후 복붙하여사용 */

.box:hover{
    width: 500px;
    height: 500px;
    background: aquamarine;
    border-radius: 50%;
}

.menu{
    border: 1px solid blue;
    width: 600px;
    height: 100px;
    display: flex;
    list-style: none;  
}

.menu>li{
    border:1px solid black;
    flex:1;
    transition: all 0.5s ease 0s;
    align-items: center;
    justify-content: center;
    display: flex;
}

.menu>li:hover{
    background: black;
    color: white;
    flex:2;
}