*{margin:0;padding:0}
a{text-decoration:none;color: inherit;}
ul,ol{list-style: none;}
h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: normal;}
img{max-width:100%;}
strong,b{font-weight: normal;}
i,em,address{font-style:normal}


.popup{
    display: none;
}
.wrap{

    width: 100%;
}

header{
    width: 200px;
    height: 100vh;
}

.contents2{
    height: 200px;
    width: 100%;
    border:1px solid aqua;
    box-sizing: border-box;
}
.contents3{
    height: 250px;
    width: 100%;
}
.side{
    display: none;
}
footer{
    height: 100px;
}
.a{
    display: flex;
}
/* header */
.logo{
    margin: 80px 0;
    width: 100%;
    border-bottom: 1px solid black;
   
}
.gnb{}
.gnb>li{
    overflow: hidden;
    height: 50px;
    transition: all 0.5s ease 0s;
}
.gnb>li>a{
    height: 50px;
    width:200px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.gnb>li:hover{
    height: 210px;
}
.gnb>li:hover>a{
    border:1px solid black;
    color: #fff;
}
.gnb>li>ul>li{
    height: 40px;
    text-align: center;
    line-height: 40px;
}
.gnb>li>ul>li:hover{
    background: #000;
}
.spotMenu{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.spotMenu>span{
    border-left: 1px solid black;
    display: block;
    height: 20px;
}

/* main common */
main{
    width: calc(100% - 200px);
}
/* station */
.station{
    border:1px solid red;
    height: 400px;
    width: 100%;
}
.train{
    border:1px solid lime;
    width: 300%;
    display: flex;
}