*{margin:0;padding:0;}

.box{
    width: 1000px;
    background: pink;
    margin:0 auto;
}

.box>section{
    height:300px;
    font-size: 5rem;
    float: left;
}

.box:after{content:"";display:block;clear:both;}
.box .s1{width: 250px;background: red; border:50px solid lime;}
/* box-sizing:border-box */
.box .s2{width: 250px;background: blue;}
.box .s3{width: 250px;background: green;}
.box .s4{width: 250px;background: orange;}

/* ------------------------------------------------ */

.box2{
    width: 1000px;
    background: pink;
    margin:100px auto;
}

.box2>section{
    font-size: 5rem;
    float: left;
}
.box2:after{content:"";display:block;clear:both;}
.box2 .s1{width: calc(50% - 5px);background: red;margin-right: 10px;margin-bottom: 10px;}
.box2 .s2{width:calc(50% - 5px);background: blue;margin-bottom: 10px;}
.box2 .s3{width:calc(50% - 5px);background: green;;margin-right: 10px;}
.box2 .s4{width: calc(50% - 5px);background: orange;}

.box3{
    width:1000px;
    background:pink;
    margin:100% auto;
}

.box3>section{
    font-size: 5rem;
    float:right
    /* width:calc(33.333% - (40px/3)); */
    /* width:calc((100%-40px)/3 */
    /* width:calc(100%/3-40px/3) */

}

.box3 .s1{background:red;width:320px;margin-bottom: 20px;}
.box3 .s2{background:blue;width:320px;margin-right: 20px;}
.box3 .s3{background:green;width:320px;margin-right: 20px;}
.box3 .s4{background:orange;width:1000px;
margin-top:20px;clear:both;float:none;}
.box3:after{content:"";display:block;clear:both;}

.box4{
    width:1000px;
    background:pink;
    margin:100px auto;
}
.box4>section{
    font-size: 5rem;
    float:left;
    width: calc(100% - 320px);
    height:200px;
}

.box4 .s1{background:red;float:left;height:640px;width:300px;margin-right: 20px;}
.box4 .s2{background:blue;margin-bottom: 20px;}
.box4 .s3{background:green;margin-bottom: 20px;}
.box4 .s4{background:orange;}
.box4:after{content:"";display:block;clear:both;}

.box5{
    width:1000px;
    background:pink;
    margin:100px auto;
}
.box5>section{
    font-size: 5rem;
    float: left;
    width: calc((100% - 40px)/3);
    height: 420px;
}

.box5 .s1{background:red;margin-right: 20px;}
.box5 .s2{background:blue; float: right;height:200px;margin-bottom: 20px;}
.box5 .s3{background:green;margin-right: 20px;}
.box5 .s4{background:orange;height:200px;}
.box5:after{content:"";display:block;clear:both;}