*{margin:0;padding:0;}
ul,ol{list-style: none;}
img{max-width: 100%;}

/* slider layout fadein-out */
.station{
    width: 500px;
    height: 300px;
    position: relative;
    margin: 0 auto;
}
.train{
    width: 100%;
    height: 100%;
    position: relative;
}
.train>li{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    pointer-events: none;
    /* pointer-events의 기본 값은 atuo이고 pointer-events의 값이 none으로 설정되면 사용자의 마우스 클릭이나 호버이벤트에 해당하는 태그가 반응하지 않게 된다. */
    transition:all 0.6s ease 0s;
}
.train>li.on{
    opacity: 1;
    pointer-events: auto;
}
.train>li img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.controler{
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    width: 90%;
    display: flex;
    justify-content: space-between;
    
}
.controler>a{
    background: #fff;
    padding:10px;
    cursor: pointer;
    border: 1px solid lime;
}