*{margin:0;padding:0;}
a{text-decoration: none;color: inherit;}
h1,h2,h3,h4,h5,h6{font-weight: normal;font-size: inherit;}
em,address,i{font-style: normal;}
b,strong{font-weight: normal;}
ul,ol {list-style: none;}


html{
    font-family: 'NanumSquare';
}

@font-face {
    font-family: "stencil";
    src: url("../font/stencilla.ttf");
}
.blackcover{
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    position: fixed;
    left: 0;
    top: 0;
    transition: all 0.5s ease 0s;
    pointer-events: none;

}
.blackcover.on{
    opacity: 0.5;
    z-index: 5;
}
.btnTop{
    position: fixed;
    border: 1px solid #fff;
    width: 50px;
    height: 50px;
    right:20px;
    bottom: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background:#003453;
    color: #fff;
    z-index: 10;
    cursor :pointer;
}
/* 효과 */
.mTtB{
    transform: translateY(-50px);
    opacity: 0.1;
    transition: all 1s ease 0s;
}
.mTtB.on{
    transform: translateY(0px);
    opacity: 1;
}
.mBtT{
    transform: translateY(50px);
    opacity: 0.1;
    transition: all 1s ease 0s;
}
.mBtT.on{
    transform: translateY(0px);
    opacity: 1;
}
.mLtR{
    transform: translateX(-50px);
    opacity: 0.1;
    transition: all 0.5s ease 0s;
}
.mLtR.on{
    transform: translateX(0px);
    opacity: 1;
}

/* header */
header{
    width: 100%;
    height: 970px;
    position: relative;
    text-transform: uppercase;
    margin-bottom: 100px;
    font-family: 'Poppins', sans-serif;
}
header::after{
    width: 100%;
    height: 700px;
    position: absolute;
    bottom:0;
    left: 0;
    background:#003453;
    content:"";
    z-index: -1;

}
header>img{
    width: 735px;
    height: 95px;
    object-fit: contain;
    position: absolute;
    top: 23.9%;
    left: 15%;
}
header>p{
    position: absolute;
    top: 35%;
    left: 37.7%;
    color: #fff;
}
header .nav{
    bottom:0;
    left: 0;
    position: absolute;
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-bottom: 30px;
    justify-content: space-between;
}
header .nav::after{
    content: "";
    width: 1845px;
    height: 1px;
    background: #fff;
    position: absolute;
    top: -15px;
    left: 5px;
}
header .nav>li{
    border:1px solid #fff;
    height: 35px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    color: #fff;
    margin-left: 25px;
}




/* @keyframes startMotion {
    0%{opacity:0;}
    100%{opacity:1;}
    
} */

/* .start{
    position: absolute;
    top: 47%;
    left: 51%;
    transition: all 0.5s ease 0s;
    transform: translateY(0px);
    opacity: 0;
}
.start.on{
    transform: translateY(-30px);
    opacity: 1;
}
.start>a{
    display: flex;
    align-items: center;
}
.start img {
    width: 80px;
    height: 85px;
    object-fit: contain;
    
}

.start p{
    background: #fff;
    font-size: 1.5rem;
    color: #c42c2e;
    width: 137px;
    height: 48px;
    display: flex;
    align-items: center;
    padding-left: 14px;
    border-radius: 12px;
    box-shadow: 10px 8px 14px -3px #bababa;
} */


/* .artwork {
    transform: rotate(-90deg);
    width: 200px;
    position: absolute;
    top: 22%;
    left: 0%;
}
.name{
    width: 180px;
    position: absolute;
    bottom: 167px;
    right: 10%;
}
.circle>span {
    width: 400px;
    height: 400px;
    border: 37px solid ;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 26%;
    left: 45%;
    color: #fff;
    animation:spinCircleinner 1.5s linear 2 forwards; 
}
    /* box-shadow: -10px 20px 14px -3px inset #bababa */

/* .circle>span.circleShadow {
    /* width: 400px;
    height: 400px;
    border: 37px solid #cecccc;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 23%;
    left: 45%;
    filter: blur(5px);
    z-index: -1; */
    /* animation:spinCircle 1s linear 2 forwards; 
} */ 
/* @keyframes spinCircle {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(360deg);
    }
    0% {
        transform: rotate(0);
    }
    
} */
/* @keyframes dinDirect{
    0%{transform:translate(0px,-30px);}
    25%{transform:translate(30px,0px );}
    50%{transform:translate(0px,30px);}
    75%{transform:translate(-30px,0px);}
    100%{transform:translate(0px,-10px);}
} */

@keyframes spinCircle {
    0% {
        box-shadow: 0px -40px 80px #eee, 0px -40px 120px #eee
    }
    /* 10% {
        box-shadow: 20px 0px 80px #bababa,40px 0px 120px #bababa
    } */
    25% {
        box-shadow: 40px 0px 80px #eee,40px 0px 120px #eee
    }
    50% {
        box-shadow: 0px 40px 80px #eee,0px 40px 120px #eee
    }
    75% {
        box-shadow: -40px 0px 80px #eee,-40px 0px 120px #eee
    }
    /* 80% {
        box-shadow: -80px 0px 80px #bababa,-40px 0px 120px #bababa
    } */
    100% {
        box-shadow: 0px -40px 80px #eee,0px -40px 120px #eee
    }
}
@keyframes spinCircleinner {
    100% {
    
        box-shadow: 0px -30px 50px inset #bababa
    }
    75% {
        box-shadow: 30px 0px 50px inset #bababa
    }
    50% {
        box-shadow: 0px 30px 50px inset #bababa
    }
    25% {
        box-shadow: -30px 0px 50px inset #bababa
    }
    0% {
        box-shadow: 0px -30px 50px inset #bababa
    }
}
/* main */
/* porfilePg */

.porfilePg{
    width: 1440px;
    height: 970px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}
.porfilePg>img {
    border-radius: 4px;
    margin-left: 50px;
    border: 1px solid #003453;
    object-fit: contain;
    height: 350px;
}
.proImg{
    width: 450px;
}
.profileBox{
    font-size: 1.2rem;
}
.profileBox>li{
    width: 480px;
    margin-right: 50px;
    position: relative;
}
.profileBox>li::after {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    content: "";
    position: absolute;
    top: 56px;
    right: 0;
    background:#003453;
}
.profileBox>li>ul>li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin: 0 8px;
}

.profileBox h2 {
    border-bottom: 1px solid #003453;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 17px;
    text-transform: uppercase;
    color:#003453;
}
.proImg h2{
    font-size: 1.6rem;
    padding:10px;
}
.proImg p{
    font-size: 1.2rem;
    padding:10px;
}
.proImg dl {
    display: flex;
    flex-wrap: wrap;
    width: 395px;
}
.proImg dl>dt {
    font-size: 1.2rem;
    font-weight: bold;
    width: 150px;
    height: 30px;
    margin-bottom: 10px;
    margin-left: 10px;
}
.proImg dl>dd{
    font-size: 1.2rem;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 10px;

}
.proflie{
    margin-bottom: 50px;
}
/* .profileBox>.experienceBox.on {
    left: 5%;
    top: 11%;
}
.profileBox>.experienceBox {
    left: 26%;
    top: 11%;
    z-index: 20;
    transition: all 1s ease 1.2s;
}
.profileBox>.educationBox.on {
    left: 36%;
    top: 11%;
}
.profileBox>.educationBox {
    left: 43%;
    top: 0%;
    transition: all 1s ease 1.2s;
}
    */
/* .profileBox>.licenseBox {
    left: 38%;
    height: 165px;
    top: 53%;
    z-index: 30;
    transition: all 1s ease 1.2s;
}

.profileBox>.licenseBox.on {
    left: 65%;
    top: 28%;
} */
/* skill */
.skill{
    width: 100%;
    margin-bottom: 150px;
    position: relative;
    height: 970px;

}
.skillBox>ul{
    display: flex;
}

/* .skill>h1 {
    font-weight: bold;
    font-size: 6rem;
    text-shadow: 5px 4px 7px #abababbf;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    margin-left: 250px;
} */
.skill>p.aside_1 {
    color: rgba(199, 199, 199, 0.536);
    position: absolute;
    right: 50px;
    top: 465px;
    text-transform: uppercase;
    font-size: 2.6rem;
    width: 118px;
    height: 30px;
    transform: rotate(90deg);
    font-family: 'Poppins', sans-serif;
}


.skill>ul>li>figure{
    width: 260px;
    height: 180px;
    position: relative;
    transition: all 0.5s ease 0s;
    transform: translateY(0px);
}

.skill>ul>li>figure.on{
    transform: translateY(-70px);
}

circle{
    fill: transparent;
    stroke:#003453;
    stroke-width: 25px;
    stroke-dasharray: 470.4;
    stroke-dashoffset: 470.4;
    /* transition: all 1s ease 0s; */
}

.per{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #003453;
    font-size: 1.2rem;
    font-weight: bold;
}
.per2{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
}
.percentCircle {
    border: 25px solid rgba(238, 238, 238, 0.658);
    width: 125px;
    height: 125px;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 10px 8px 14px -3px #bababa;
}
.subCircle {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 10px 8px 14px -3px #bababa;
}
.clickBtn {
    width: 120px;
    height: 50px;
    border-radius: 25px;
    margin-left: 78%;
    margin-bottom: 104px;
    box-shadow: 10px 8px 14px -3px #bababa;
    /* margin-top: 15px; */
}
.clickBtn.on{
    background: #0034536b;
}
.clickBtn>.circleBtn{
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background:  #0034536b;
    box-shadow: 10px 8px 14px -3px #bababa;
    transition: all 0.5s ease 0s;
}
.clickBtn.on>.circleBtn{
    transform: translateX(70px);
    background:#fff;
    box-shadow: 10px 8px 14px -3px #bababa;
}
.skill>ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 300px;
    margin-left: 110px;
}
.skill>ul>li{
    border-radius: 20px;
    width: 260px;
    height: 500px;
    background: #fff;
    box-shadow: 10px 8px 14px -3px #bababa;
}
.skilltxt>h2{
    text-align: center;
    font-size: 1.7rem;
    color: #bababa;
    font-weight: 600;
    padding: 10px;
    margin-bottom:50px ;
    transition: all 0.5s ease 0s;
    transform: translateY(140px);
}
.skilltxt>p {
    padding: 0 10px;
    font-size: 1.2rem;
    line-height: 1.7rem;
    padding: 0px 39px;
    transition: all 0.5s ease 0s;
    opacity: 0;
    transform: translateY(50px);
}
.skilltxt.on>h2{
    transform: translateY(0px);
}

.skilltxt.on>p{
    opacity: 1;
    transform: translateY(0px);
}
/* design */
.popup{
    width: 100%;
    height: 970px;
    position: relative;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.popup img {
    width: 1200px;
    height: 800px;
    object-fit: cover;
    margin-left: 120px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.popupContent{
    margin-right: 170px;
}
.popup>.popupContent{
    margin-left: 170px;
}
.popup>.popupContent>h1{
    font-size: 3rem;
    color:#003453;
    margin-bottom: 25px;
    text-transform: uppercase;
}
.popup>.popupContent>p{
    font-size: 1.1rem;
    margin-bottom: 50px;
    text-transform: uppercase;
}
.popup>.popupContent>a{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    border-radius: 20px;
    width:170px ;
    height: 45px;
    text-transform: uppercase;
    border:1px solid #003453;
    color: #003453;
    transition: all 0.5s ease 0s;
}
.popup>.popupContent>a:hover{
    color: #ffff;
    background:#003453;
}
 /* Popup */

.Popup{
    width: 1440px;
    height: 700px;
    opacity: 0;
    pointer-events: none;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 2000;
    border-radius: 20px;
    box-shadow: 10px 8px 14px -3px #bababa;
}
.Popup.on{
    opacity: 1;
    pointer-events: auto;
}
.Popup>ul{
    width: 100%;
    height: 500%;
}

.Popup>ul>li{
    width: 1440px;
    height: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    box-shadow: 10px 8px 14px -3px #bababa;
    border: 1px solid #eee;
    z-index: 101;
    background: #fff;
    transition: all 0.5s ease 0s;
    position: relative;
}
/* .Popup>ul>li>h2{
    border: 1px solid red;
    font-size: 1rem;
    position: fixed;
    top: 0;
    left: 0;
} */
.Popup>ul>li>img{
    width: 550px;
    height: 550px;
    object-fit: contain;
    margin: 0 25px;
}
.Popup>ul>li>dl{
    width: 720px;
    height: 500px;
    border-radius: 25px;
    box-shadow: 10px 8px 14px -3px #bababa;
    margin-right: 55px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
/* .Popup>ul>li>span{
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: 15px;
    right: 15px;
    box-shadow: 10px 8px 14px -3px #bababa;
} */
.exit {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: 4%;
    right: 55px;
    box-shadow: 4px 8px 14px -3px #bababa;
    transition: all 0.5s ease 0s;
}
.exit>span:nth-of-type(1) {
    display: inline-block;
    width: 30px;
    height: 1px;
    position: absolute;
    top: 25px;
    right: 10px;
    background: #c42c2e;
    transform: rotate(0deg);
}
.exit>span:nth-of-type(2) {
    display: inline-block;
    width: 14px;
    height: 1px;
    position: absolute;
    top: 20px;
    right: 10px;
    background: #c42c2e;
    transform: rotate(-143deg);
}
.Popup>ul>li>dl::before {
    content: "";
    height: 500px;
    width: 1px;
    background: #cacaca;
    position: absolute;
    top: 87px;
    left: 55.1%;
}
.Popup>ul>li>dl>dt{
    width: 150px;
    height: 50px;
    text-transform: uppercase;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #7b7b7b;

}

.Popup>ul>li>dl>dd{
    width: 550px;
    height: 100px;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}
.Popup>ul>li>dl>dd:nth-of-type(1){
    font-weight: bold;
    letter-spacing: 2px;
}
.Popup>ul>li>dl>dd:nth-of-type(2) {
    line-height: 1.8rem;
    font-size: 1.2rem;
    padding: 0 6px;
}
.colorChip>span{
    width: 80px;
    height: 80px;
    border-radius: 10px;
    display: block;
    margin-left: 20px;
}
.colorChip>span.color_1{background: #E0363B;}
.colorChip>span.color_2{background: #314D5C;}
.colorChip>span.color_3{background: #0C1B25;}
.colorChip>span.color_4{background: #0E2717;}
.colorChip>span.color_5{background: #23492C;}
.colorChip>span.color_6{background: #BBA430;}
.colorChip>span.color_7{background: #E25D28;}
.colorChip>span.color_8{background: #FDEE99;}
.colorChip>span.color_9{background: #2F0F10;}
.colorChip>span.color_10{background: #106F7A;}
.colorChip>span.color_11{background: #F8C98E;}
.colorChip>span.color_12{background: #CDBBB0;}
.colorChip>span.color_13{background: #EC4C6F;}
.colorChip>span.color_14{background: #F27B9C;}
.colorChip>span.color_15{background: #F1CFDD;}
.colorChip>span.color_16{background: #DF5A25;}
.colorChip>span.color_17{background: #FDB850;}
.colorChip>span.color_18{background: #B6D770;}
.colorChip>span.color_19{background: #ec212451;}
.colorChip>span.color_20{background: #5db9ab8d;}
.colorChip>span.color_21{background: #f3f29b86;}
.colorChip>span.color_22{background: #2A2551;}
.colorChip>span.color_23{background: #C94354;}
.colorChip>span.color_24{background: #B1DED1;}

.Popup>ul>li>dl>dd:nth-of-type(4){
    text-transform: capitalize;
}
.popup>.Popup>.popupPage{
    height: 6px;
}
.webTxt{
    height: 250px;
}
.webTxt h2 {
    color: #003453;
    font-size:3rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px;
    margin-bottom: 50px;
}
.webTxt p{
    /* width: 1200px;
    height: 100px;
    border-radius: 15px;
    box-shadow: 10px 8px 14px -3px #bababa;*/
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 0 8px; */
    /* margin-left: 210px; */
}
.phoneTxt {
    position: absolute;
    left: 41%;
    width: 322px;
    height: 272px;
    z-index: 102;
    top: 7%;
    background: #eeeeee85;
    border-radius: 10px;
}
.phoneTxt>h2{
    font-size: 2rem;
    color: #c42c2e;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 30px;
    padding-left: 15px;
}
.phoneTxt>p{
    font-size: 1.4rem;
    line-height: 2.2rem;
    padding: 0 15px;
}


.banner{
    width: 100%;
    height: 970px;
    position: relative;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.bannerContent{
    /* display:flex;
    align-items: center;
    justify-content: space-between; */
}
.banner>img {
    width: 1200px;
    height: 800px;
    object-fit: cover;
    margin-right: 120px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.banner>.bannerContent{
    margin-left: 170px;
}
.banner>.bannerContent>h1{
    font-size: 3rem;
    color:#003453;
    margin-bottom: 25px;
    text-transform: uppercase;
}
.banner>.bannerContent>p{
    font-size: 1.1rem;
    margin-bottom: 50px;
    text-transform: uppercase;
}
.banner>.bannerContent>a{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    border-radius: 20px;
    width:170px ;
    height: 45px;
    text-transform: uppercase;
    border:1px solid #003453;
    color: #003453;
    transition: all 0.5s ease 0s;
}
.banner>.bannerContent>a:hover{
    color: #ffff;
    background:#003453;
}
/* Banner */
.Banner{
    width:1440px;
    height: 880px;
    box-shadow: 10px 8px 14px -3px #bababa;
    border-radius: 15px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 104;
    background: #fff;
    opacity: 0;
    pointer-events: none;
}
.Banner.on{
    opacity: 1;
    pointer-events: auto;
}
.Bannertrain{
    display:flex;
    width:500%;
    height: 100%;
}
.Banner>ul>li{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 10px 8px 14px -3px #bababa;
}

.bannerexit:hover{
    transform: scale(1.2);
}

.bannerexit {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: -90%;
    right: 55px;
    box-shadow: 4px 8px 14px -3px #bababa;
    transition: all 0.5s ease 0s;
}
.bannerexit>span:nth-of-type(1) {
    display: inline-block;
    width: 30px;
    height: 1px;
    position: absolute;
    top: 25px;
    right: 10px;
    background: #c42c2e;
    transform: rotate(0deg);
}
.bannerexit>span:nth-of-type(2) {
    display: inline-block;
    width: 14px;
    height: 1px;
    position: absolute;
    top: 20px;
    right: 10px;
    background: #c42c2e;
    transform: rotate(-143deg);
}
.Banner>ul>li>img{
    width: 100%;
    height: 375px;
    object-fit: contain;
    margin-top: 100px;
    opacity: 0.8;
    z-index: -10;
}
.Banner>ul>li>div {
    display: flex;
    align-items: center;
    position: absolute;
    left: 50px;
    top: 386px;
}
.Banner>ul>li>div>img {
    width: 600px;
    height: 400px;
    object-fit: contain;
    margin-right: 50px;
}

.Banner>ul>li dl{
    width: 700px;
    height: 400px;
    border-radius: 25px;
    box-shadow: 10px 8px 14px -3px #bababa;
    margin-right: 55px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    background: #fff;
}


.Banner>ul>li dl::before {
    content: "";
    height: 359px;
    width: 1px;
    background: #cacaca;
    position: absolute;
    top: 17px;
    left: 137px;
}
.Banner>ul>li dl>dt{
    width: 150px;
    height: 50px;
    text-transform: uppercase;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #7b7b7b;
}

.Banner>ul>li dl>dd{
    width: 550px;
    height: 100px;
    font-size:1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}
.Banner>ul>li dl>dd.title_B{
    font-size: 1.8rem;
    font-weight: 500;
}
.Banner>ul>li>dl>dd:nth-of-type(1){
    font-weight: bold;
    letter-spacing: 2px;
}
.Banner>ul>li>dl>dd:nth-of-type(2) {
    line-height: 1.8rem;
    font-size: 1.2rem;
    padding: 0 6px;
}
.banner>.Banner>.bannerPage{
    height: 6px;

}
.colorChip>span{
    width: 80px;
    height: 80px;
    border-radius: 10px;
    display: block;
    margin-left: 20px;
}
.colorChip>span.color_25{background: #f6dd4e8f;}
.colorChip>span.color_26{background: #F6DD4E;}
.colorChip>span.color_27{background: #221E1F;}
.colorChip>span.color_28{background: #7D5742;}
.colorChip>span.color_29{background: #A94F24;}
.colorChip>span.color_30{background: #D5AF8B;}
.colorChip>span.color_31{background: #FEEBA5;}
.colorChip>span.color_32{background: #221E1F;}
 /* .colorChip>span.color_33{background: #2F0F10;} */
.colorChip>span.color_34{background: #405B55;}
.colorChip>span.color_35{background: #E1CABD;}
 /* .colorChip>span.color_36{background: #CDBBB0;} */
.colorChip>span.color_37{background: #23234C;}
.colorChip>span.color_38{background: #D6A377;}
.colorChip>span.color_39{background: #FBF9D2;}
/* web */
.web{
    /* border: 1px solid red; */
    width: 100%;
    height: 1200px;
    position: relative;
    margin-bottom: 50px;
}
.webIntro{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 970px;
    margin-bottom: 50px;
    width: 100%;
}
.webContent{
    width: 610px;
    height: 140px;
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
    font-size: 1.1rem;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 8px 14px -3px #bababa;
    margin-bottom: 80px;
    margin-right: 100px;
}
.computer{
    position: relative;
}

.computer>span {
    width: 167px;
    height: 100px;
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    animation: clickMotion 0.5s linear 0s infinite alternate; margin-top: 0;
}
.computer>span>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.computer>.redesign {
    position: absolute;
    top: 206px;
    left: 147px;
    width: 586px;
    height: 352px;
    overflow: hidden;
}
.computer>.redesign>.webpage {
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 18px;
    left: 14px;
}
.computer>.redesign>.webpage:hover{
    animation:redesign 15s linear 0.1s ;
}
@keyframes redesign {
    0%{transform: translateY(0%);}
    100%{transform: translateY(-100%);}
}
@keyframes clickMotion {
    0% {margin-top: 0px;}
    100% {margin-top: 10px;}
}

.computer>img{
    width: 900px;
    height: 900px;
    object-fit: contain;
}
.webContent>dt{
    width: 150px;
    display: flex;
    color: #626262;
}
.webContent>dd{
    width: 400px;
}
.siteMenu>li{
    width: 250px;
    height: 60px;
    border-radius: 25px;
    line-height: 60px;
    font-size: 1.3rem;
    padding-left: 50px;
    box-shadow: 10px 8px 14px -3px #bababa;
    margin-bottom: 20px;
    font-weight: 500;
    margin-left: 50px;
    transition: all 0.5s ease 0s;
}
.siteMenu>li:hover{
    transform: scale(1.1);
}
/* footer */
footer{
    /* border:1px solid lime; */
    width: 100%;
    height: 970px;
    position: relative;
}
footer::after{
    width: 100%;
    height: 700px;
    background: #003453;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    z-index: -1;
}
footer>img {
    position: absolute;
    bottom: 156px;
    left: 175px;
    width: 775px;
    height: 210px;
    object-fit: cover;
}
footer dl {
    display: flex;
    flex-wrap: wrap;
    width: 395px;
    color: #003453;
    position: absolute;
    right: 95px;
    bottom: 133px;
}
footer dl>dt {
    font-size: 1.2rem;
    font-weight: bold;
    width: 150px;
    height: 30px;
    margin-bottom: 10px;
    margin-left: 10px;
}
footer dl>dd {
    font-size: 1.2rem;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 10px;
}
/* nav */
nav{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease 0s;
}
nav.on{
    opacity: 1;
    pointer-events: auto;
}
#navbg line{
    transition: all 1s ease 0s;
}
.gnb {
    width: 350px;
    height: 330px;
    border-radius: 25px;
    background: #fff;
    box-shadow: 10px 8px 14px -3px #bababa;
    position: absolute;
    top: 30%;
    left: 20%;
    font-family: 'Poppins', sans-serif;
}
.gnb>li {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 500;
    height: 50px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    padding-left: 34px;
    color:#999;
    transition: all 0.5s ease 0s;
}
.gnb>li:hover{
    color: #c42c2e;
}
.place {
    width: 100px;
    object-fit: contain;
    position: absolute;
    left: 14%;
    top: 53%;
    height: 100px;
}
/

/* webPlan */
.web{
    /* border: 1px solid red;  */
}
.webPlan {
    width: 1440px;
    height: 970px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
    background-color: #fff;
    z-index: 100;
    pointer-events: none;
    transition: all 0.5s ease 0s;
    
}
.weball{
    overflow: auto;
    height: 850px;
}
.weball img{
    width:  1440px;
    /* height: 970px; */
    border: 1px solid rgb(205, 205, 205);
    object-fit: contain;
}

.webPlan.on{
    opacity:1;
    pointer-events: auto;
}
.weball>.mobliemock{
    width: 1500px;
    object-fit: cover;
    height: 1000px;
}
.webStart{
    display:flex;
}

.artworkfolder{
    /* border: 1px solid red; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 1600px;
    height: 1000px;
    background: #fff;
    opacity: 0;
    pointer-events: none;
}
.artworkfolder.on{
    opacity: 1;
    pointer-events: auto;
    z-index: 100;
}
.artworkHead{
    display: flex;
    /* align-items: center;
    justify-content: space-between; */
}
.artworkHead>.artexit{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: 15px;
    right: 20px;
    display: inline-block;
    box-shadow: 4px 8px 14px -3px #bababa;
}

.artexit>span:nth-of-type(1) {
    display: inline-block;
    width: 30px;
    height: 1px;
    position: absolute;
    top: 25px;
    right: 10px;
    background: #c42c2e;
    transform: rotate(45deg);
}
.artexit>span:nth-of-type(2) {
    display: inline-block;
    width: 30px;
    height: 1px;
    position: absolute;
    top: 25px;
    right: 10px;
    background: #c42c2e;
    transform: rotate(-45deg);
}
.artworkHead>h1{
    font-size: 2rem;
    text-transform: uppercase;
    width: 330px;
    height: 80px;
    border-radius: 50px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 4px 8px 14px -3px #bababa;
    color: #c42c2e;
    margin: 15px;
}
.artTebmenu{
    position: relative;
    width: 1600px;
    height: 1000px;
    background: #fff;
    display: none;
}
.artTebmenu.on{
    display: flex;
}
.artTebmenu>dt{
    width: 80px;
    height: 50px;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    color: #999;
    margin-left:10px ;
}
.artTebmenu>dt.on{
    border-bottom: 2px solid #c42c2e;
    color: #c42c2e;
}
.artTebmenu>dd{
    position: absolute;
    top: 50px;
    left: 0;
    opacity: 0;
    display: none;
    pointer-events: none;
    margin-top: 50px;
}
/* .artTebmenu>dd.on{
    opacity: 1;
    pointer-events: auto;
} */
.artTebmenu>dt.on + dd{
    opacity: 1;
    pointer-events: auto;
    display: inline-block;
}
/* 디티에 온 이 들어가잇으면 디디 조건 ?  */

.artStation{
    height: 800px;
    width: 1600px;
    overflow: hidden;
}

.artTrain{
    display: flex;
    width: 400%;
    height: 800px;
}

/* .artTrain>li{
    margin-right: 20px;
}
.artTrain>li:last-of-type{
    margin-right: 0;
} */
.artTxt{
    width: 500px;
    height: 80px;
    margin-top: 20px;
    margin-left: 10px;
}

.artTxt>h2{
    font-size: 1.5rem;
    margin-bottom: 15px;
}
.artTxt>p{
    font-size: 1.5rem;
}
.artTrain>li>img{
    width: 1200px;
    height: 700px;
    object-fit: contain;
}
.longart>li>img{
    width: 1000px;
    height: 700px;
    object-fit: contain;
}
.controlerArt{
    width: 100%;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 5;
    display: flex;
    justify-content: space-between;
}
.controlerArt>.btnPrev{
    width: 30px;
    height: 30px;
    border-top: 3px solid #c42c2e;
    border-left: 3px solid #c42c2e;
    transform: rotate(-45deg);
    margin-left: 10px;
    font-size: 0;
}
.controlerArt>.btnNext{
    width: 30px;
    height: 30px;
    border-top: 3px solid #c42c2e;
    border-right: 3px solid #c42c2e;
    transform: rotate(45deg);
    margin-right: 10px;
    font-size: 0;
}
.webStart>span.webexit {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: 15px;
    right: 15px;
    box-shadow: 4px 8px 14px -3px #bababa;
    transition: all 0.5s ease 0s;
    margin-right: 62px;
    margin-top: 42px;
}
.webexit {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: 4%;
    right: 55px;
    box-shadow: 4px 8px 14px -3px #bababa;
    transition: all 0.5s ease 0s;
}
.webexit>span:nth-of-type(1) {
    display: inline-block;
    width: 30px;
    height: 1px;
    position: absolute;
    top: 25px;
    right: 10px;
    background: #c42c2e;
    transform: rotate(0deg);
}
.webexit>span:nth-of-type(2) {
    display: inline-block;
    width: 14px;
    height: 1px;
    position: absolute;
    top: 20px;
    right: 10px;
    background: #c42c2e;
    transform: rotate(-143deg);
}
.webStart>span.webexit:hover{
    transform: scale(1.2);
}
.webStart>h1{
    width: 250px;
    height: 60px;
    border-radius: 25px;
    line-height: 60px;
    font-size: 1.3rem;
    padding-left: 50px;
    box-shadow: 10px 8px 14px -3px #bababa;
    margin-bottom: 20px;
    margin-top: 50px;
    margin-right: 50px;
}
.webPlan>ol{
    width: 1300px;
    margin: 0 auto;
}
.webPlan>ol>li {
    position: relative;
    margin-bottom: 130px;
}
.weball>ol>li>h2 {
    margin-top: 38px;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    width: 150px;
    height: 50px;
    margin-bottom: 50px;
    margin-left: 57px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.weball>ol>li>h2::before {
    content: "01";
    font-size: 5rem;
    font-weight: bold;
    text-shadow: 5px 4px 7px #ababab61;
    color: #fff;
    margin-right: 20px;
}
.weball>ol>li>h2.second::before {
    content: "02";
    top: 44%;
    left: 12px;
}


.weball>ol>li:nth-of-type(1)>p{
    height: 150px;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e6ebf1;
    padding: 0 100px;
}

.fourfiveList>li>h2 {
    margin-top: 38px;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    width: 150px;
    height: 50px;
    margin-bottom: 50px;
    margin-left: 106px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fourfiveList>li>h2::before{
    content: "03";
    position: absolute;
    top: 0;
    left: 12px;
    font-size: 5rem;
    font-weight: bold;
    text-shadow: 5px 4px 7px #ababab61;
    color: #fff;
}
.fourfiveList>li>h2::after {
    content: "04";
    position: absolute;
    top: 15px;
    left: 60%;
    font-size: 5rem;
    font-weight: bold;
    text-shadow: 5px 4px 7px #ababab61;
    color: #fff;
}
.fourfiveList{
    display: flex;
    justify-content: space-around;
    position: relative;
}

.keyword {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 420px;
}
.keyword>li{
    position: relative;
    /* border:1px solid red; */
}

.keyword>li>div{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    box-shadow: 10px 8px 14px -3px #bababa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #000;
    transition: all 0.5s ease 0s;
}
.keyword>li>div{
   transition: all 0.5s ease 0s;
}
.keyword>li.on>div{
    background: linear-gradient(325deg, #cadcf1, #fff);
    
}
.keyword>li.on>div>h3{
    color: #c42c2e;
    font-weight: 600;
}
    
.keyword>li>p{
    opacity: 0;
    transition: all 0.3s ease 0s;
    transform: translateY(50px);  
}
.keyword>li.on>p{
    opacity: 1;
    transform: translateY(0);  
}
.keyword>li>div>h3 {
    font-size: 1.5rem;
    color: #999;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 122px;
    margin: 0 auto;
    padding: 5px 0;
    transition: all 0.5s ease 0s;
}

.keyword>li>p{
    text-align: center;
    font-size: 1.2rem;
    width: 250px;
    padding: 20px 0;
}

.font {
    display: flex;
    justify-content: space-between;
}
.stencil{
    width: 290px;
    height: 290px;

    margin-right: 100px;
}
.stencil>h4{
    font-family: "stencil";
    font-size: 1.8rem;
    margin-bottom: 20px;
    text-align: center;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.stencil>.boxA{
    width: 110px;
    height: 110px;
    border-radius: 10px;
    box-shadow: 5px 8px 14px -3px #bababa;
    font-size: 5rem;
    font-family: "stencil";
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 20px;
}

.stencil>p{
    font-size: 1.5rem;
    text-align: center;
}
.NotoFont{
    width: 300px;
    font-family: 'Noto Sans KR', sans-serif;
}
.NotoFont>h4{
    font-size: 2rem;
    margin-bottom: 20px;
    line-height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
}
.Nototext{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}
.Nototext>p{
    width: 110px;
    height: 110px;
    border-radius: 10px;
    box-shadow: 10px 8px 14px -3px #bababa;
    font-size: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fontWeight{
    width: 100%;
    height: 80px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.fontWeight>li{
    padding: 5px;
    margin-right: 5px;
    width: 80px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 0;
    margin-bottom: 5px;
}
.fontWeight>li:last-of-type{
    margin-right: 5px;
}
.fontWeight>li:nth-of-type(1){font-weight: 300;}
.fontWeight>li:nth-of-type(2){font-weight: 400;}
.fontWeight>li:nth-of-type(3){font-weight: 500;}
.fontWeight>li:nth-of-type(4){font-weight: 700;}
.fontWeight>li:nth-of-type(5){font-weight: 900;}

.styleGuide{
    width: 450px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.styleGuide>li{
    border:1px solid #133554;
    width: 195px;
    height: 70px;
    border-radius: 15px;
    text-align: right;
    display: flex;
    align-items: end;
    justify-content: space-between;
}
.styleGuide>li>p{ 
    padding: 10px;
    font-size: 1.3rem;
}
.styleGuide>li>span{
    height: 85px;
    width: 85px;
    border-radius: 15px;

}
.styleGuide>li:nth-of-type(1)>span{background: #133554;}
.styleGuide>li:nth-of-type(2)>span{background: #2e4c5e;}
.styleGuide>li:nth-of-type(3)>span{background: #6a8492;}
.styleGuide>li:nth-of-type(4)>span{background: #a0aeb8;}

.content05{
    display: flex;
    justify-content: space-around;
    align-items: center; 
    position: relative;
}
.third::before {
    content: "05";
    font-size: 5rem;
    font-weight: bold;
    text-shadow: 5px 4px 7px #ababab61;
    color: #fff;
    position:absolute;
    top: 0;
    left: 12px;
}
.content05>div>h2 {
    margin-top: 38px;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    width: 150px;
    height: 50px;
    margin-bottom: 50px;
    margin-left: 194px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content05>div>h2.sol{
    color: #C42B2D;
}
.proSol>li{
    height: 150px;
    width: 500px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    margin-bottom: 20px;
    padding: 0 30px;
    box-shadow: 10px 8px 14px -3px #bababa;
}
.solutionBox>li{
    background: #E6EBF1;
}
.problemBox{
    position: relative;
}
.problemBox>li::before {
    content: "";
    width: 40px;
    height: 40px;
    background: linear-gradient(325deg, #cadcf1, #fff);
    position: absolute;
    border-radius: 50%;
    top: 64px;
    left: -22px;
}
.problemBox>li:nth-of-type(2):before {
    content: "";
    width: 40px;
    height: 40px;
    background: linear-gradient(325deg, #cadcf1, #fff);
    position: absolute;
    top: 229px;
    left: -22px;
}
.problemBox>li:nth-of-type(3):before{
    content: "";
    width: 40px;
    height: 40px;
    background: linear-gradient(325deg, #cadcf1, #fff);
    position: absolute;
    top: 406px;
    left: -22px;
}
.point>li{
    width: 50px;
    height: 50px;
    margin-top: 130px;
}
.point>li>img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
