*{margin:0;padding:0;}
a{text-decoration: none;color: inherit;}
h1,h2,h3,h4,h5,h6{font-weight: normal;font-size: inherit;}
em,address,i{font-style: normal;}
b,strong{font-weight: normal;}
ul,ol {list-style: none;}


html{
    font-family: 'NanumSquare';
}

@font-face {
    font-family: "stencil";
    src: url("../font/stencilla.ttf");
}

.line>span{
    position: fixed;
    left: 5px;
    background: #eeeeee;
    width: 100%;
    height: 1px;
    z-index: -1;
}
.line>span.lineOne{
    left: 340px;
    width: 1px;
    height: 970px;
}
.line>span.lineTwo{
    top:130px;
}
.line>span.lineThree{
    top:550px;
}

/* header */
header{
    width: 100%;
    height: 970px;
    border:1px solid lime;
    position: relative;
    text-transform: uppercase;
    margin-bottom: 50px;
    font-family: 'Poppins', sans-serif;
}
header>div img {
    width: 80px;
    height: 85px;
    object-fit: contain;
    position: absolute;
    top: 47%;
    left: 51%;
}

.start p{
    background: #fff;
    position: absolute;
    top: 49%;
    left: 55.5%;
    font-size: 1.5rem;
    color: #c42c2e;
    width: 137px;
    height: 48px;
    display: flex;
    align-items: center;
    padding-left: 14px;
    border-radius: 12px;
    box-shadow: 10px 8px 14px -3px #bababa
}

header>h1 {
    left: 18%;
    top: 48%;
    position: absolute;
    font-weight: bold;
    font-size: 4rem;
    text-shadow: 5px 4px 7px #abababbf;
    color: #fff;
}
header>p {
    font-size: 1.2rem;
    font-weight:500;
}
.artwork {
    transform: rotate(-90deg);
    width: 200px;
    position: absolute;
    top: 22%;
    left: 0%;
}
.name{
    width: 180px;
    position: absolute;
    bottom: 167px;
    right: 10%;
}
.circle>span {
    width: 400px;
    height: 400px;
    border: 37px solid ;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 26%;
    left: 45%;
    color: #fff;
    animation:spinCircleinner 1.5s linear 2 forwards; 
}
    /* box-shadow: -10px 20px 14px -3px inset #bababa */

.circle>span.circleShadow {
    /* width: 400px;
    height: 400px;
    border: 37px solid #cecccc;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 23%;
    left: 45%;
    filter: blur(5px);
    z-index: -1; */
    animation:spinCircle 1s linear 2 forwards; 
}
/* @keyframes spinCircle {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(360deg);
    }
    0% {
        transform: rotate(0);
    }
    
} */
/* @keyframes dinDirect{
    0%{transform:translate(0px,-30px);}
    25%{transform:translate(30px,0px );}
    50%{transform:translate(0px,30px);}
    75%{transform:translate(-30px,0px);}
    100%{transform:translate(0px,-10px);}
} */

@keyframes spinCircle {
    0% {
        box-shadow: 0px -40px 80px #eee, 0px -40px 120px #eee
    }
    /* 10% {
        box-shadow: 20px 0px 80px #bababa,40px 0px 120px #bababa
    } */
    25% {
        box-shadow: 40px 0px 80px #eee,40px 0px 120px #eee
    }
    50% {
        box-shadow: 0px 40px 80px #eee,0px 40px 120px #eee
    }
    75% {
        box-shadow: -40px 0px 80px #eee,-40px 0px 120px #eee
    }
    /* 80% {
        box-shadow: -80px 0px 80px #bababa,-40px 0px 120px #bababa
    } */
    100% {
        box-shadow: 0px -40px 80px #eee,0px -40px 120px #eee
    }
}
@keyframes spinCircleinner {
    100% {
    
        box-shadow: 0px -30px 50px inset #bababa
    }
    75% {
        box-shadow: 30px 0px 50px inset #bababa
    }
    50% {
        box-shadow: 0px 30px 50px inset #bababa
    }
    25% {
        box-shadow: -30px 0px 50px inset #bababa
    }
    0% {
        box-shadow: 0px -30px 50px inset #bababa
    }
}
/* main */
.alongLine{
    background: #eeeeee;
    position: absolute;
    height: 100vh;
    width: 1px;
    position: fixed;
    top: 0;
    right: 150px;
}
.porfilePg>section{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.porfilePg>section>img {
    width: 250px;
    height: 250px;
    border-radius: 40px;
    margin: 50px;
    box-shadow: 10px 8px 14px -3px #bababa
}

.porfilePg>section h1 {
    font-weight: bold;
    font-size: 7.5rem;
    text-shadow: 5px 4px 7px #abababbf;
    color: #c42c2e;
    text-transform: uppercase;
    line-height: 7.5rem;
    font-family: 'Poppins', sans-serif;
}
.porfilePg>section h1.textLINE{
    color: #FFF;
    -webkit-text-stroke: 1px #c42c2e;
}
.porfilePg>section p{
    width: 300px;
    margin-left: auto;
    font-weight: 600;
    font-size: 1.3rem;
}
.porfilePg>p {
    padding: 19px;
    width: 500px;
    font-size: 1.2rem;
    margin-left: 510px;
}
/* profileBox */
.profileBox{
    width: 100%;
    height: 800px;
    position: relative;
}
.profileBox>section{
    width: 480px;
    height: 480px;
    position: absolute;
    left: 50%;
    border-radius:40px;
    box-shadow: 10px 8px 14px -3px #bababa;
    background: #fff;
}
.profileBox>section>ul>li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px;
    margin: 0 8px;

}
.profileBox>section>ul>li>p{
    font-size: 1.4rem;
}
.profileBox>section>ul>li>span{
    color: #626262;
    font-size: 1.3rem;
}
.profileBox>section>h2 {
    border-bottom: 1px solid #c42c2e84;
    font-size: 1.8rem;
    font-weight: 600;
    padding: 17px;
    text-transform: uppercase;
    color: #c42c2e;
}
.profileBox>section.experienceBox {
    left: 26%;
    top: 11%;
    z-index: 20;
}
.profileBox>section.educationBox {
    left: 48%;
    top: 17%;
    z-index: 25;
}
.profileBox>section.licenseBox {
    left: 38%;
    height: 165px;
    top: 53%;
    z-index: 30;
}

/* skill */
.skill{
    width: 100%;
    height: 750px;
    border:1px solid #00ff00;
}
.skill>ul>li{
    position: relative;
}
.percentCircle {
    border: 25px solid rgba(238, 238, 238, 0.658);
    width: 125px;
    height: 125px;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: -25px;
    left: 42px;
    box-shadow: 10px 8px 14px -3px #bababa;
}
.subCircle {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 0px;
    left: 65px;
    box-shadow: 10px 8px 14px -3px #bababa;
}
.clickBtn{
    border:1px solid red;
    width: 120px;
    height: 50px;
    border-radius: 25px;
    margin-left: 80%;
    margin-bottom: 150px;
}
.skill>ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 300px;
    margin-left: 110px;
}
.skill>ul>li{
    border-radius: 20px;
    width: 260px;
    height: 500px;
    background: #fff;
    box-shadow: 10px 8px 14px -3px #bababa;
}
.skill>ul>li>h2{
    text-align: center;
    font-size: 1.5rem;
    color: #c42c2e;
    font-weight: 600;
    padding: 10px;
    margin-bottom:50px ;
}
.skill>ul>li>p{
    padding: 0 10px ;
    font-size: 1.3rem;
    line-height: 2rem;
}
/* design */

.design>h1{
    font-weight: bold;
    font-size: 6rem;
    text-shadow: 5px 4px 7px #abababbf;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    margin-left: 250px;
}
.design h2{
    color: #c42c2e;
    font-size: 2rem;
    font-weight: 600;
    margin-left: 210px;
    margin-bottom: 20px;
}
.design p{
    width: 340px;
    height: 210px;
    border-radius: 15px;
    box-shadow: 10px 8px 14px -3px #bababa;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 8px;
    margin-left: 210px;
    margin-bottom: 50px;
}
/* popup */
.popup {
    border: 1px solid blue;
    height: 1140px;
    position: relative;
    margin-bottom: 150px;
}

.popup ul{
    display: flex;
}
.popup ul>li{
    border:1px solid red;
}

.popupPhone{
    border:1px solid red;
    width: 430px;
    height: 850px;
    object-fit: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 100;
    transform: translate(-50%,-50%);
}


/* banner */
.banner{
    width: 100%;
    height: 1140px;
}
.bannerSlider{
    border:1px solid lime;
    margin: 0 auto;
}
.bannerSlider>ul{
    display: flex;
}
.banner ul>li{
    border:1px solid red;
    /* width: 1000px;
    height: 220px; */
}
.banner ul>li.on{
    transform: scale(1.2);
    z-index: 100;
}
.banner ul>li>img{
    border:1px solid red;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* web */
.webIntro{
    display: flex;
    height: 970px;
    margin-bottom: 50px;
    width: 100%;
}
.webContent{
    width: 610px;
    height: 340px;
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
    font-size: 1.1rem;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 8px 14px -3px #bababa;
    margin-bottom: 20px;
    
}
.webContent>dt{
    width: 150px;
    height: 50px;
    display: flex;
    color: #626262;
  
}
.webContent>dd{
    width: 400px;
    height: 50px;
}
.siteMenu>li{
    width: 250px;
    height: 60px;
    border-radius: 25px;
    line-height: 60px;
    font-size: 1.3rem;
    padding-left: 50px;
    box-shadow: 10px 8px 14px -3px #bababa;
    margin-bottom: 20px;
    font-weight: 600;
}

/* footer */
footer{
    border:1px solid lime;
    width: 100%;
    height: 800px;
    position: relative;

}
footer>h2{
    color: #c42c2e;
    font-size: 2rem;
    font-weight: 600;
    margin-left: 210px;
    margin-bottom: 20px;
    position: absolute;
    top: 50px;
    left: 50px;
}
footer>dl {
    position: absolute;
    top: 17%;
    left: 47%;
}

footer>img{
    width: 1000px;
    height: 500px;
    object-fit: contain;
    display: block;
    margin: 0 320px;
}

/* nav */
.gnb{
    border:1px solid lime;
    width: 350px;
    height: 330px;
    border-radius: 25px;
    flex-direction:column;
    display: flex;
    justify-content: space-between;
    
}
.gnb>li{
    border:1px solid red;
    font-size: 1.5rem;
    flex: 1;
    padding: 5px;
    text-transform: uppercase;
   font-weight: 700;
}

/* Popup */
.Popup>ul>li{
    width: 1440px;
    height: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    box-shadow: 10px 8px 14px -3px #bababa;
    border: 1px solid #eee;
}
.Popup>ul>li>img{
    width: 550px;
    height: 550px;
    object-fit: contain;
    margin: 0 25px;
}
.Popup>ul>li>dl{
    width: 720px;
    height: 500px;
    border-radius: 25px;
    box-shadow: 10px 8px 14px -3px #bababa;
    margin-right: 55px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
}
.Popup>ul>li{
    position: relative;
}
.Popup>ul>li>span {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: 15px;
    right: 15px;
    box-shadow: 10px 8px 14px -3px #bababa;
}
.Popup>ul>li>dl::before {
    content: "";
    height: 500px;
    width: 1px;
    background: #cacaca;
    position: absolute;
    top: 0;
    left: 137px;
}
.Popup>ul>li>dl>dt{
    width: 150px;
    height: 50px;
    text-transform: uppercase;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #7b7b7b;
   
}

.Popup>ul>li>dl>dd{
    width: 550px;
    height: 100px;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}
.Popup>ul>li>dl>dd:nth-of-type(1){
    font-weight: bold;
   letter-spacing: 2px;
}
.Popup>ul>li>dl>dd:nth-of-type(2) {
    line-height: 1.8rem;
    font-size: 1.2rem;
    padding: 0 6px;
}
.colorChip>span{
    width: 80px;
    height: 80px;
    border-radius: 10px;
    display: block;
    margin-left: 20px;
}
.colorChip>span.color_1{background: #E0363B;}
.colorChip>span.color_2{background: #314D5C;}
.colorChip>span.color_3{background: #0C1B25;}
.colorChip>span.color_4{background: #0E2717;}
.colorChip>span.color_5{background: #23492C;}
.colorChip>span.color_6{background: #BBA430;}
.colorChip>span.color_7{background: #E25D28;}
.colorChip>span.color_8{background: #FDEE99;}
.colorChip>span.color_9{background: #2F0F10;}
.colorChip>span.color_10{background: #106F7A;}
.colorChip>span.color_11{background: #F8C98E;}
.colorChip>span.color_12{background: #CDBBB0;}
.colorChip>span.color_13{background: #EC4C6F;}
.colorChip>span.color_14{background: #F27B9C;}
.colorChip>span.color_15{background: #F1CFDD;}
.colorChip>span.color_16{background: #DF5A25;}
.colorChip>span.color_17{background: #FDB850;}
.colorChip>span.color_18{background: #B6D770;}
.colorChip>span.color_19{background: #ec212451;}
.colorChip>span.color_20{background: #5db9ab8d;}
.colorChip>span.color_21{background: #f3f29b86;}
.colorChip>span.color_22{background: #2A2551;}
.colorChip>span.color_23{background: #C94354;}
.colorChip>span.color_24{background: #B1DED1;}

.Popup>ul>li>dl>dd:nth-of-type(4){
    text-transform: capitalize;
}

/* Banner */
.Banner{
   
}
.Banner>ul>li{
    border:1px solid lime;
    width: 1440px;
    height: 1000px;
    border-radius: 5px;
    box-shadow: 10px 8px 14px -3px #bababa;
    position: relative;
}
.Banner>ul>li>img{
    width: 100%;
    height: 375px;
    object-fit: contain;
    margin-top: 100px;
    opacity: 0.5;
    z-index: -10;
}
.Banner>ul>li>div{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: 280px;
}
.Banner>ul>li>div>img{
    width: 700px;
    height: 700px;
    object-fit: contain;
}
.Banner>ul>li dl{
    width: 720px;
    height: 500px;
    border-radius: 25px;
    box-shadow: 10px 8px 14px -3px #bababa;
    margin-right: 55px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    background: #fff;
}

/* .Banner>ul>li>span {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: 15px;
    right: 15px;
    box-shadow: 10px 8px 14px -3px #bababa;
} */
.Banner>ul>li dl::before {
    content: "";
    height: 500px;
    width: 1px;
    background: #cacaca;
    position: absolute;
    top: 0;
    left: 137px;
}
.Banner>ul>li dl>dt{
    width: 150px;
    height: 50px;
    text-transform: uppercase;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #7b7b7b;
   
}

.Banner>ul>li dl>dd{
    width: 550px;
    height: 100px;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}
.Banner>ul>li>dl>dd:nth-of-type(1){
    font-weight: bold;
   letter-spacing: 2px;
}
.Banner>ul>li>dl>dd:nth-of-type(2) {
    line-height: 1.8rem;
    font-size: 1.2rem;
    padding: 0 6px;
}
.colorChip>span{
    width: 80px;
    height: 80px;
    border-radius: 10px;
    display: block;
    margin-left: 20px;
}
.colorChip>span.color_25{background: #f6dd4e8f;}
.colorChip>span.color_26{background: #F6DD4E;}
.colorChip>span.color_27{background: #221E1F;}
.colorChip>span.color_28{background: #7D5742;}
.colorChip>span.color_29{background: #A94F24;}
.colorChip>span.color_30{background: #D5AF8B;}
.colorChip>span.color_31{background: #FEEBA5;}
.colorChip>span.color_32{background: #221E1F;}
/* .colorChip>span.color_33{background: #2F0F10;} */
.colorChip>span.color_34{background: #405B55;}
.colorChip>span.color_35{background: #E1CABD;}
/* .colorChip>span.color_36{background: #CDBBB0;} */
.colorChip>span.color_37{background: #23234C;}
.colorChip>span.color_38{background: #D6A377;}
.colorChip>span.color_39{background: #FBF9D2;}

/* webPlan */
.webPlan{
    width: 1440px;
    height: auto;
    position: relative;
    border: 1px solid red;
}
.webPlan>h1{
    width: 250px;
    height: 60px;
    border-radius: 25px;
    line-height: 60px;
    font-size: 1.3rem;
    padding-left: 50px;
    box-shadow: 10px 8px 14px -3px #bababa;
    margin-bottom: 20px;
    margin-top: 50px;
    margin-left: 50px;
}
.webPlan>ol{
    border: 1px solid lime;
    width: 1300px;
    margin: 0 auto;
}
.webPlan>ol>li>h2 {
    margin-top: 38px;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    border: 1px solid red;
    width: 150px;
    height: 50px;
    margin-bottom: 50px;
    margin-left: 120px;
}
.webPlan>ol>li:nth-of-type(1)>p{
    height: 150px;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e6ebf1;
    padding: 0 100px;
}

.fourfiveList>li>h2 {
    margin-top: 38px;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    border: 1px solid red;
    width: 150px;
    height: 50px;
    margin-bottom: 50px;
    margin-left: 0px;
}
.fourfiveList{
    display: flex;
    justify-content: space-around;
}
.keyword {
    display: flex;
    border: 1px solid red;
    align-items: center;
    justify-content: space-around;
    height: 420px;
}
.keyword>li{}
.keyword>li>div{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    box-shadow: 10px 8px 14px -3px #bababa;
}
.keyword>li>div.blueBtn{
    background: linear-gradient(325deg, #cadcf1, #fff);
}
.keyword>li>div>h3 {
    font-size: 1.5rem;
    color: #c42c2e;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.keyword>li>p{
    text-align: center;
    font-size: 1.4rem;
}

.font {
    display: flex;
    justify-content: space-between;
}
.stencil{
    width: 290px;
    height: 290px;
    border:1px solid lime;
    margin-right: 100px;
}
.stencil>h4{
    font-family: "stencil";
    font-size: 1.8rem;
    margin-bottom: 20px;
    text-align: center;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.stencil>.boxA{
    width: 110px;
    height: 110px;
    border-radius: 10px;
    box-shadow: 5px 8px 14px -3px #bababa;
    font-size: 5rem;
    font-family: "stencil";
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 20px;
}

.stencil>p{
    font-size: 1.5rem;
    text-align: center;
}
.NotoFont{
    border:1px solid aqua;
    width: 300px;
    font-family: 'Noto Sans KR', sans-serif;
}
.NotoFont>h4{
    font-size: 2rem;
    margin-bottom: 20px;
    line-height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
}
.Nototext{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}
.Nototext>p{
    width: 110px;
    height: 110px;
    border-radius: 10px;
    box-shadow: 10px 8px 14px -3px #bababa;
    font-size: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fontWeight{
    width: 100%;
    height: 80px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.fontWeight>li{
    padding: 5px;
    margin-right: 5px;
    width: 80px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 0;
    margin-bottom: 5px;
}
.fontWeight>li:last-of-type{
    margin-right: 5px;
}
.fontWeight>li:nth-of-type(1){font-weight: 300;}
.fontWeight>li:nth-of-type(2){font-weight: 400;}
.fontWeight>li:nth-of-type(3){font-weight: 500;}
.fontWeight>li:nth-of-type(4){font-weight: 700;}
.fontWeight>li:nth-of-type(5){font-weight: 900;}

.styleGuide{
    width: 450px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.styleGuide>li{
    border:1px solid #133554;
    width: 195px;
    height: 70px;
    border-radius: 15px;
    text-align: right;
    display: flex;
    align-items: end;
    justify-content: space-between;
}
.styleGuide>li>p{ 
    padding: 10px;
    font-size: 1.3rem;
}
.styleGuide>li>span{
    height: 85px;
    width: 85px;
    border-radius: 15px;

}
.styleGuide>li:nth-of-type(1)>span{background: #133554;}
.styleGuide>li:nth-of-type(2)>span{background: #2e4c5e;}
.styleGuide>li:nth-of-type(3)>span{background: #6a8492;}
.styleGuide>li:nth-of-type(4)>span{background: #a0aeb8;}

.content05{
    border:1px solid lime;
    display: flex;
    justify-content: space-around;
    align-items: center; 
}
.content05>div>h2{
    margin-top: 38px;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    border: 1px solid red;
    width: 150px;
    height: 50px;
    margin-bottom: 50px;
    margin-left: 120px; 
    display: flex;
    align-items: center;
    justify-content: center;  
}
.content05>div>h2.sol{
    color: #C42B2D;
}
.proSol>li{
    height: 150px;
    width: 500px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    margin-bottom: 20px;
    padding: 0 30px;
    box-shadow: 10px 8px 14px -3px #bababa;
}
.solutionBox>li{
    background: #E6EBF1;
}
.problemBox{
    position: relative;
}
.problemBox>li::before{
    content: "";
    width: 50px;
    height: 50px;
    background: linear-gradient(325deg, #cadcf1, #fff);
    position: absolute;
    border-radius: 50%;
    top: 50px;
    left: -30px;
}
.problemBox>li:nth-of-type(2):before{
    content: "";
    width: 50px;
    height: 50px;
    background: linear-gradient(325deg, #cadcf1, #fff);
    position: absolute;
    top: 200px;
    left: -30px;
}
.problemBox>li:nth-of-type(3):before{
    content: "";
    width: 50px;
    height: 50px;
    background: linear-gradient(325deg, #cadcf1, #fff);
    position: absolute;
    top: 400px;
    left: -30px;
}
.point>li{
    width: 50px;
    height: 50px;
    margin-top: 130px;
}
.point>li>img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}